extends ../layouts/default

block extra_styles
  link(rel="stylesheet", href="/stylesheets/about.css")

block content
  div(class="title")
    h1 About
  main
    section(class="site-description")      
      p Prep Stars of America (Youth Development Agency) provides anger management, behavior modification, and violence prevention through sports. Our unique and therapeutic sports model serves over 1,000 students representing four school districts in East Bay each and every day. Between 2015 and 2016 we have expanded the service model of our school by offering career and college internships in sports media.
          
      h1 What do we Do?
      p At Prep Stars of America we offer a unique brand of anti-bullying, behavior modification, and anger management, through personalized sports/fitness programming for Pre-K through High School age youth. From our strategic partnership with the World Champion Golden State Warriors Jr. Warrior Program, to our culturally rich "Get Fit" in school fitness programs and the new Prep Star Sports Leagues (Basketball, Soccer, Golf, Tennis, Lacrosse, & NFL Flag Football), our in school/after school Health & Wellness programs and curriculum provide a valuable resource for public, private, and alternative schools to introduce the joy of fitness and health back into urban communities.
            
      //- h1 Who are We?
      //- p At Prep Stars of America we offer a unique brand of anti-bullying, behavior modification, and anger management through personalized sports and fitness programming for Pre-K through High School age youth. From our strategic partnership with the World Champion Golden State Warriors Jr. Warrior Program, to our culturally rich "Get Fit" in-school fitness programs and the New Prep Star Sports Leagues (Basketball, Soccer, Golf, Tennis, Lacrosse, and NFL Flag Football).

      //- h1 About PlayJr.NBA
      //- p There is a unique Partnership between Prep Stars of America, USA Basketball, and Golden State Warriors. Our goal is to expand the love of health and fitness through basketball from a grassroots level. Partnering with community organizations who share the same passions and commitments in leading our grassroots initiative.

      h1 Partnerships
      p We have a partnership with NBA/WNBA, the Golden State Warriors, the NFL, United States Tennis Association (USTA), Jr. NBA, Junior Warrior Basketball League, NFL Flag Football, PGA Jr. League Golf, US Soccer Development Academy, Official Youth Organization and USA Football.
      
      - var partner_logo_i = 0
      while partner_logo_i <= 10
        img(class="partner-image" src="/images/partner-logos/image#{partner_logo_i}.png", alt="Partner logo")
        - partner_logo_i++
  aside
    section
      h1 Join the Team
      img(src="/images/james-jones-on-the-field.jpg")
      p "I believe Prep Stars of America is one of the top youth sports programs addressing childhood obesity in a manner that will not only impact the child but the whole family."
      p "By participating in the skill challenge events, children are able to get fit, get educated, and get skills necessary to be successful on and off the field. Join the team today! Let’s eradicate obesity in America!" - <b>James Jones NFL WR Greenbay Packers</b>
  main.bottom-two
    section
      img(src="/images/random_photos_from_social_sites/one-one/10860876_559535524189771_8990772276712672260_o.jpg")
      div.right
        h1 Documented Success
        p Our programs have documented success at teaching manageable behavior modification and anger management techniques, which reduce the stress associated with poor self esteem related to fitness and health.
    section
      img(src="/images/diversity.jpg")
      div.right
        h1 Diversity
        p Our programs meet the Office of Juvenile Justice and Delinquency Prevention’s criteria for young people who face high probabilities of school or social failure, including criminal or delinquency involvement.
  //- section(class="ctas")
  //-   div(class="cta")
  //-     h1 Mission
  //-     p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis tristique nisi ut congue. Suspendisse sollicitudin magna non varius ullamcorper. Mauris id tortor metus. Etiam tristique dui non sem fermentum elementum.
  //-     img(src="/icons/clipboard.png", alt="Icon of Clipboard")
  //-   div(class="cta")
  //-     h1 Careers
  //-     p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis tristique nisi ut congue. Suspendisse sollicitudin magna non varius ullamcorper. Mauris id tortor metus. Etiam tristique dui non sem fermentum elementum.
  //-     img(src="/icons/people.png", alt="Icon of People")
  //-   div(class="cta")
  //-     h1 News
  //-     p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis tristique nisi ut congue. Suspendisse sollicitudin magna non varius ullamcorper. Mauris id tortor metus. Etiam tristique dui non sem fermentum elementum.
  //-     img(src="/icons/screen.png", alt="Icon of Monitor, Television, or Something")
