extends ../layouts/default

block extra_styles
  link(rel="stylesheet", href="/stylesheets/about.css")

block content
  div(class="donate")
    button(class="donate-button")
      a Donate
  div(class="title")
    h1 About
  
