extends ../layouts/default

block extra_styles
  link(rel="stylesheet", href="/stylesheets/about.css")

block content
  div(class="secondary-navigation-links")
    nav
      ul
        li
          a(href="#") History
        li
          a(href="#") People
        li
          a(href="#") Partners
        li
          a(href="#") FAQs
        li
          a(href="#") Location
      button(class="donate-button")
       a(href="/donate") Donate
      div(class="title")
        h1 About
  main
    section(class="site-description")
      h1 Who are We?
      p At Prep Stars of America we offer a unique brand of anti-bullying, behavior modification, and anger management through personalized sports and fitness programming for Pre-K through High School age youth. From our strategic partnership with the World Champion Golden State Warriors Jr. Warrior Program, to our culturally rich "Get Fit" in-school fitness programs and the New Prep Star Sports Leagues (Basketball, Soccer, Golf, Tennis, Lacrosse, and NFL Flag Football).
      img(src="/images/woman-dancing.jpg")
      h1 What do we Do?
      p Our in-school and after-school Health & Wellness programs and curriculum provide a valuable resource for public, private, and alternative schools to introduce the joy of fitness and health back into urban communities.
      p Prep Star programs serve up to 1,000 Latino, African American, Laotian, and Muslim students daily. Our programs meet the Office of Juvenile Justice and Delinquency Prevention’s criteria for young people who face high probabilities of school or social failure, including criminal or delinquency involvement.
  aside
    section
      h1 Join the Team
      img(src="/images/james-jones-on-the-field.jpg")
      p "I believe Prep Stars of America is one of the top youth sports programs addressing childhood obesity in a manner that will not only impact the child but the whole family."
      p "By participating in the skill challenge events, children are able to get fit, get educated, and get skills necessary to be successful on and off the field. Join the team today! Let’s eradicate obesity in America!" - <b>James Jones NFL WR Greenbay Packers</b>
  main.bottom-two
    section
      img(src="/images/random_photos_from_social_sites/one-one/10860876_559535524189771_8990772276712672260_o.jpg")
      div.right
        h1 Documented Success
        p Our programs have documented success at teaching manageable behavior modification and anger management techniques, which reduce the stress associated with poor self esteem related to fitness and health.
    section
      img(src="/images/diversity.jpg")
      div.right
        h1 Diversity
        p Our programs meet the Office of Juvenile Justice and Delinquency Prevention’s criteria for young people who face high probabilities of school or social failure, including criminal or delinquency involvement.
  //- section(class="ctas")
  //-   div(class="cta")
  //-     h1 Mission
  //-     p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis tristique nisi ut congue. Suspendisse sollicitudin magna non varius ullamcorper. Mauris id tortor metus. Etiam tristique dui non sem fermentum elementum.
  //-     img(src="/icons/clipboard.png", alt="Icon of Clipboard")
  //-   div(class="cta")
  //-     h1 Careers
  //-     p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis tristique nisi ut congue. Suspendisse sollicitudin magna non varius ullamcorper. Mauris id tortor metus. Etiam tristique dui non sem fermentum elementum.
  //-     img(src="/icons/people.png", alt="Icon of People")
  //-   div(class="cta")
  //-     h1 News
  //-     p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis tristique nisi ut congue. Suspendisse sollicitudin magna non varius ullamcorper. Mauris id tortor metus. Etiam tristique dui non sem fermentum elementum.
  //-     img(src="/icons/screen.png", alt="Icon of Monitor, Television, or Something")
