extends ../layouts/default

block extra_styles
  link(rel="stylesheet", href="/stylesheets/about.css")

block content
  main
    div(class="links-and-donation-button")
      nav
        ul
          li
            a(href="#") History
          li
            a(href="#") People
          li
            a(href="#") Partners
          li
            a(href="#") FAQs
          li
            a(href="#") Location
      button(class="donate-button")
        a Donate
    div(class="title")
      h1 About
    section(class="site-description")
      h1 Who are We?
      img(src="http://lorempixel.com/g/600/300/sports")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis tristique nisi ut congue. Suspendisse sollicitudin magna non varius ullamcorper. Mauris id tortor metus. Etiam tristique dui non sem fermentum elementum. In aliquam leo in erat venenatis ornare. In vulputate eu leo sed mattis. Cras elit odio, porttitor euismod faucibus vitae, ultrices vitae ante. Vivamus ac diam tristique dui facilisis volutpat et at lacus. Morbi sodales erat ut quam hendrerit eleifend. In vestibulum ac odio at euismod. Mauris quis mi ut tellus vehicula vestibulum maximus vehicula odio. Integer non scelerisque elit. Nulla semper lorem sit amet augue pharetra facilisis. Donec vel vehicula dolor, non semper nunc
      hr
      h1 What do we Do?
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis tristique nisi ut congue. Suspendisse sollicitudin magna non varius ullamcorper. Mauris id tortor metus. Etiam tristique dui non sem fermentum elementum. In aliquam leo in erat venenatis ornare. In vulputate eu leo sed mattis. Cras elit odio, porttitor euismod faucibus vitae, ultrices vitae ante. Vivamus ac diam tristique dui facilisis volutpat et at lacus. Morbi sodales erat ut quam hendrerit eleifend. In vestibulum ac odio at euismod. Mauris quis mi ut tellus vehicula vestibulum maximus vehicula odio. Integer non scelerisque elit. Nulla semper lorem sit amet augue pharetra facilisis. Donec vel vehicula dolor, non semper nunc
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis tristique nisi ut congue. Suspendisse sollicitudin magna non varius ullamcorper. Mauris id tortor metus. Etiam tristique dui non sem fermentum elementum. In aliquam leo in erat venenatis ornare. In vulputate eu leo sed mattis. Cras elit odio, porttitor euismod faucibus vitae, ultrices vitae ante. Vivamus ac diam tristique dui facilisis volutpat et at lacus. Morbi sodales erat ut quam hendrerit eleifend. In vestibulum ac odio at euismod. Mauris quis mi ut tellus vehicula vestibulum maximus vehicula odio. Integer non scelerisque elit. Nulla semper lorem sit amet augue pharetra facilisis. Donec vel vehicula dolor, non semper nunc
  aside
    section
      h1 Our Team
      img(src="http://lorempixel.com/g/500/500/cats")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis tristique nisi ut congue.
    section
      h1 Our Partners
      img(src="http://lorempixel.com/g/500/500/cats")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis tristique nisi ut congue.
    section
      h1 Our History
      img(src="http://lorempixel.com/g/500/500/cats")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis tristique nisi ut congue.
  section(class="ctas")
    div(class="cta")
      h1 Mission
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis tristique nisi ut congue. Suspendisse sollicitudin magna non varius ullamcorper. Mauris id tortor metus. Etiam tristique dui non sem fermentum elementum.
      img(src="/icons/clipboard.png", alt="Icon of Clipboard")
    div(class="cta")
      h1 Careers
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis tristique nisi ut congue. Suspendisse sollicitudin magna non varius ullamcorper. Mauris id tortor metus. Etiam tristique dui non sem fermentum elementum.
      img(src="/icons/people.png", alt="Icon of People")
    div(class="cta")
      h1 News
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis tristique nisi ut congue. Suspendisse sollicitudin magna non varius ullamcorper. Mauris id tortor metus. Etiam tristique dui non sem fermentum elementum.
      img(src="/icons/screen.png", alt="Icon of Monitor, Television, or Something")
