extends ../layouts/default

block extra_styles
  link(rel="stylesheet", href="/stylesheets/about.css")

block content
  div(class="title")
    h1 About
  main
    section(class="site-description")      
      h1 Who Are We?
      p Prep Stars of America (Youth Development Agency) provides anger management, behavior modification, and violence prevention through sports. Our unique and therapeutic sports model serves over 1,000 students representing four school districts in East Bay each and every day. Between 2015 and 2016, we expanded the service model of our school by offering career and college internships in sports media.
      
      p Prep Stars of America staff consists of current/former professional & college players and coaches, who are dedicated to providing an excellent teaching experience for each and every student athlete. Our coaches utilize the Essential Elements of Effective Instruction (EEEI), an instructional strategy that accelerates training and activates performance learning. 
          
      h1 What do we Do?
      p At Prep Stars of America we offer a unique brand of anti-bullying, behavior modification, and anger management, through personalized sports/fitness programming for Pre-K through High School age youth. From our strategic partnership with the World Champion Golden State Warriors Jr. Warrior Program, to our culturally rich "Get Fit" in school fitness programs and the new Prep Star Sports Leagues (Basketball, Soccer, Golf, Tennis, Lacrosse, & NFL Flag Football), our in school/after school Health & Wellness programs and curriculum provide a valuable resource for public, private, and alternative schools to introduce the joy of fitness and health back into urban communities.
            
      h1 Our Mission
      p We're a non-profit organization providing therapeutic sports programs to urban area youths.

      h1 Partnerships
      p We have a partnership with NBA/WNBA, the Golden State Warriors, the NFL, United States Tennis Association (USTA), Jr. NBA, Junior Warrior Basketball League, NFL Flag Football, PGA Jr. League Golf, US Soccer Development Academy, Official Youth Organization and USA Football.
      
      - var partner_logo_i = 0
      while partner_logo_i <= 10
        img(class="partner-image" src="/images/partner-logos/image#{partner_logo_i}.png", alt="Partner logo")
        
        - partner_logo_i++
  aside
    section
      h1 Join the Team
      img(src="/images/james-jones-on-the-field.jpg")
      p "I believe Prep Stars of America is one of the top youth sports programs addressing childhood obesity in a manner that will not only impact the child but the whole family."
      p "By participating in the skill challenge events, children are able to get fit, get educated, and get skills necessary to be successful on and off the field. Join the team today! Let’s eradicate obesity in America!" - #[b James Jones NFL WR Greenbay Packers]
    section.quick-links
      h1 Quick Links
      #[a(href="/testimonials") Testimonials]
      #[a(href="/donate") Donate]
