extends ../layouts/default.jade

block extra_styles
  link(rel="stylesheet", href="/stylesheets/donate.css")
  link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")

block content
  div(class="secondary-navigation-links")
    nav
      div(class="title")
        h1 Donate
  iframe(src='https://player.vimeo.com/video/164037840', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
  section(class="text-section")
    h1 How can your donation support Prep Stars? 
    p(style="width: 80%;font-weight: 100;line-height: 150%;margin: 2.5% auto;text-align: left;") At Prep Stars of America ("PSA") we offer a unique brand of anti-bullying, behavior modification, and anger management through personalized sports & fitness programming for Pre-K through High School age youth. From our culturally rich "Get Fit" Fitness at Recess elementary school program, PSA Sports Leagues for Basketball, Tennis, Golf, Track & Soccer, to our Digital Sports Media program, we believe in the physical & mental fitness of every child.  
    p(style="width: 80%;font-weight: 100;line-height: 150%;margin: 2.5% auto;text-align: left;") We have achieved tremendous success academically, athletically, and behaviorally through our therapeutic fitness programs. By strategically collaborating with local schools and community based youth serving organizations, we have been able to effectively serve up to 1,000 Laotian, Latino, African American, Asian, and Caucasian students daily!
  section(class="demographics text-section")
    div
      h1 Financial Donations
      //- p This is where some detailed information goes.
      //- p In aliquam leo in erat venenatis ornare. In vulputate eu leo sed mattis. Cras elit odio, porttitor euismod faucibus vitae, ultrices vitae ante. Vivamus ac diam tristique dui facilisis volutpat et at lacus. Morbi sodales erat ut quamhendrerit eleifend. In vestibulum ac odio at euismod. Mauris quis mi ut tellus vehicula vestibulum maximus vehicula odio. Integer non scelerisque elit. Nulla semper lorem sit amet augue pharetra facilisis. Donec vel vehicula dolor, non semper nunc.
    div
      h1 Financial Incurring
      //- p This is where some detailed information goes.
      //- p In aliquam leo in erat venenatis ornare. In vulputate eu leo sed mattis. Cras elit odio, porttitor euismod faucibus vitae, ultrices vitae ante. Vivamus ac diam tristique dui facilisis volutpat et at lacus. Morbi sodales erat ut quamhendrerit eleifend. In vestibulum ac odio at euismod. Mauris quis mi ut tellus vehicula vestibulum maximus vehicula odio. Integer non scelerisque elit. Nulla semper lorem sit amet augue pharetra facilisis. Donec vel vehicula dolor, non semper nunc.
    div
      h1 Get Involved
      //- p This is where some detailed information goes.
      //- p In aliquam leo in erat venenatis ornare. In vulputate eu leo sed mattis. Cras elit odio, porttitor euismod faucibus vitae, ultrices vitae ante. Vivamus ac diam tristique dui facilisis volutpat et at lacus. Morbi sodales erat ut quamhendrerit eleifend. In vestibulum ac odio at euismod. Mauris quis mi ut tellus vehicula vestibulum maximus vehicula odio. Integer non scelerisque elit. Nulla semper lorem sit amet augue pharetra facilisis. Donec vel vehicula dolor, non semper nunc.
  //- div(class="ctas")
  //-   section(class="cta")
  //-     span(class="fa fa-futbol-o")
  //-     h4 &infin; Million
  //-     p Students who are more active
  //-   section(class="cta")
  //-     span(class="fa fa-cutlery")
  //-     h4 &infin; Million
  //-     p Students who are more active
  //-   section(class="cta")
  //-     span(class="fa fa- fa-heartbeat")
  //-     h4 &infin; Million
  //-     p Students who are more active
  
  p(style="width: 80%;font-weight: 100;line-height: 150%;margin: 2.5% auto;text-align: left;") Your generous donation will help us with 3 incredible programs: 

  p(style="width: 80%;font-weight: 100;line-height: 150%;margin: 2.5% auto;text-align: left;") PlayJr.NBA! A partnership with Prep Stars of America, NBA, USA Basketball, Jr. NBA, & the Golden State Warriors. Our Winter Program launch saw 160 youth ages 15-18 years old from 4 school districts receive 8 weeks of developmental basketball games, a Warriors Jersey and head band, training, and a Steph Curry signed Certificate of Accomplishment! We also launched our Jr. Warrior Cheer Program comprised of 16 girls from Greenleaf Academy in Oakland.  The Golden State Warrior Dancers came out and taught the girls cheers and professional dance moves.  Our Goal is to provide scholarships to 100 deserving students and cheerleaders during the fall season! $12,500 dollars

  p(style="width: 80%;font-weight: 100;line-height: 150%;margin: 2.5% auto;text-align: left;") PSA Digital Sports Media Program for Middle & High School Students. This College to Career track is designed to give students exciting behind the scenes work in sports media. Students learn how to make short films, script writing, editing, camera and lighting, producing, interviewing, and filming high school and college sporting events. Thanks to the support of Stanford University, Cal State East Bay, and Laney College Athletic Departments, these young men & women are able to get real world experiences, support and internship opportunities. Our goal is to provide 17 scholarships and purchase a van! $28,450 dollars 

  p(style="width: 80%;font-weight: 100;line-height: 150%;margin: 2.5% auto;text-align: left;") “Get Fit” Recess Fitness program. This is an exciting structured recess fitness program with an emphasis on agility, speed, nutrition, and health associated with each daily activity. The childhood obesity epidemic and rise of related chronic diseases is felt across the nation, but it has more than tripled for children aged 3-13 years in low‐income communities! The “Get Fit” program exceeds the state fitness standard for comparable school age youth by 97%! Our goal is to adopt 2 new schools in Richmond and Oakland next year! 

  p(style="width: 80%;font-weight: 100;line-height: 150%;margin: 2.5% auto;text-align: left;") To keep these great programs going we need your support to expand our services by adopting more schools, and offering more scholarships to children who cannot afford to participate due to socio-economic class, health issues, or lack of family supports.  We invite you to donate to all three (3) programs.  If you would like your donation to go to a particular Prep Star program, just name that program with your donation.  

    p(style="width: 80%;font-weight: 100;line-height: 150%;margin: 2.5% auto;text-align: left;") “In athletics, as well as life, it is not merely a child’s aptitude, but their access to resources-whether educational or financial-which determines the altitude to which they rise. Prep Stars of America affords youth in underserved areas the exposure to a world, in many instances, beyond their dreams. I applaud your efforts” - Reverend Jesse L. Jackson, Sr. 
