extends ../layouts/default.jade

block extra_styles
  link(rel="stylesheet", href="/stylesheets/donate.css")
  link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")

block content
  div(class="title")
    h1 Donate
  iframe(src='https://player.vimeo.com/video/164037840', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
  section(class="text-section")
    h1 How can your donation support Prep Stars? 
    p At Prep Stars of America ("PSA") we offer a unique brand of anti-bullying, behavior modification, and anger management through personalized sports & fitness programming for Pre-K through High School age youth. From our culturally rich "Get Fit" Fitness at Recess elementary school program, PSA Sports Leagues for Basketball, Tennis, Golf, Track & Soccer, to our Digital Sports Media program, we believe in the physical & mental fitness of every child.  
    p We have achieved tremendous success academically, athletically, and behaviorally through our therapeutic fitness programs. By strategically collaborating with local schools and community based youth serving organizations, we have been able to effectively serve up to 1,000 students daily!
    p Your generous donation will help us with 3 incredible programs: 
  section(class="text-section")
    h1 PlayJr.NBA!
    p(style="font-weight: 100;line-height: 150%;margin: 2.5% auto;text-align: left;") A partnership with Prep Stars of America, NBA, USA Basketball, Jr. NBA, & the Golden State Warriors. Our Winter Program launch saw 160 youth ages 15-18 years old from 4 school districts receive 8 weeks of developmental basketball games, a Warriors Jersey and head band, training, and a Steph Curry signed Certificate of Accomplishment! We also launched our Jr. Warrior Cheer Program comprised of 16 girls from Greenleaf Academy in Oakland.  The Golden State Warrior Dancers came out and taught the girls cheers and professional dance moves.  Our Goal is to provide scholarships to 100 deserving students and cheerleaders during the fall season! (Expense: $12,500)
  
  section(class="text-section")
    h1 PSA Digital Sports Media Program for Middle & High School Students
    p(style="font-weight: 100;line-height: 150%;margin: 2.5% auto;text-align: left;") This College to Career track is designed to give students exciting behind the scenes work in sports media. Students learn how to make short films, script writing, editing, camera and lighting, producing, interviewing, and filming high school and college sporting events. Thanks to the support of Stanford University, Cal State East Bay, and Laney College Athletic Departments, these young men & women are able to get real world experiences, support and internship opportunities. Our goal is to provide 17 scholarships and purchase a van! (Expense: $28,450)
  
  section(class="text-section")
    h1 “Get Fit” Recess Fitness
    p(style="font-weight: 100;line-height: 150%;margin: 2.5% auto;text-align: left;") This is an exciting structured recess fitness program with an emphasis on agility, speed, nutrition, and health associated with each daily activity. The childhood obesity epidemic and rise of related chronic diseases is felt across the nation, but it has more than tripled for children aged 3-13 years in low‐income communities! The “Get Fit” program exceeds the state fitness standard for comparable school age youth by 97%! Our goal is to adopt 2 new schools in Richmond and Oakland next year! (Expense: $66,500)

    p(style="font-weight: 100;line-height: 150%;margin: 2.5% auto;text-align: left;") To keep these great programs going we need your support to expand our services by adopting more schools, and offering more scholarships to children who cannot afford to participate due to socio-economic class, health issues, or lack of family supports.  We invite you to donate to all three (3) programs.  If you would like your donation to go to a particular Prep Star program, just name that program with your donation.  

    p(style="font-weight: 100;line-height: 150%;margin: 2.5% auto;text-align: left;") “In athletics, as well as life, it is not merely a child’s aptitude, but their access to resources-whether educational or financial-which determines the altitude to which they rise. Prep Stars of America affords youth in underserved areas the exposure to a world, in many instances, beyond their dreams. I applaud your efforts” - Reverend Jesse L. Jackson, Sr. 

  section(class="demographics text-section")
    div(style="min-height: 25em;")
      h1 Financial Donations
      p(style="width: 95%; display: inline-block; clear: both; padding: 0px; margin: 0px;") Any form of donation is appriciated. Our program survives through people kind enough to give time, effort and spirit to the programs. 
      p(style="width: 95%; display: inline-block; clear: both; padding: 0px; margin: 0px;") If you're interested in giving a financial donation, please email us at #[b hello@prep-stars.com] with the subject line "Donation." If you want to donate to a specific program, let that be known in the email. If you want to donate online, please #[a(href="#" target="_blank" style="color: inherit;") click here].
      p(style="width: 95%; display: inline-block; clear: both; padding: 0px; margin: 0px;") If you want to know about specific areas of need, we've outlined them in the above paragraphs. If you want to know more, you can email us with your inquiry. 
    div(style="min-height: 25em;")
      h1 Donate Equipment
      p(style="width: 95%; display: inline-block; clear: both; padding: 0px; margin: 0px;") Donating equipment is a great way to help Prep Stars of America. Any equpiment&mdash;from basketballs to golf clubs&mdash;is a great help! We work with pre-k to high school age youth, so #[i too much] equipment is #[b not] a problem for us. 
      p(style="width: 95%; display: inline-block; clear: both; padding: 0px; margin: 0px;") If you want a list of equipment that we use and/or need, please don't hesitate to email us at #[b hello@prep-stars.com] with the subject line "Equipment Donation." We're happy to answer questions and respond to comments. 
    div(style="min-height: 25em;")
      h1 Get Involved
      p(style="width: 95%; display: inline-block; clear: both; padding: 0px; margin: 0px;") There are many ways to get involved!
      p(style="width: 95%; display: inline-block; clear: both; padding: 0px; margin: 0px;") As a parent, designate time to help your young athlete train. Encourage them on their journey, and help them during tough times. Let them know that you're supportive of their decisions, and come cheer for them at their games!
      p(style="width: 95%; display: inline-block; clear: both; padding: 0px; margin: 0px;") As an athlete, commit yourself to a training schedule, and help other athletes do the same! Encourage your fellow athletes and #[i never] participate or encourage bullying. Offer tips to struggling athletes. #[b Remember:] There is no "i" in team!
