extends ../layouts/default.jade

block content
  div(class="secondary-navigation-links")
    nav
      ul
        li
          a(href="#") Students
        li
          a(href="#") Parents
        li
          a(href="#") Educators
        li
          a(href="#") Community
  div(class="title")
    h1 Donate
