extends ../layouts/default

block extra_styles
  link(rel="stylesheet", href="/vendor/slick-carousel/slick/slick.css")
  link(rel="stylesheet", href="/vendor/slick-carousel/slick/slick-theme.css")
  link(rel="stylesheet", href="/stylesheets/index.css")

block extra_scripts
  script(src="/vendor/slick-carousel/slick/slick.min.js")

block content
  section(class="slideshow")
    - for (var i=0; i<4; i++){
      div
        img(src="/images/random_photos_from_social_sites/sixteen-nine/" + sixteen_nine_filenames[Math.floor(Math.random() * sixteen_nine_filenames.length)])
    - }
  section(class="welcome-message text-section")
    img(class="video", src="/images/random_photos_from_social_sites/sixteen-nine/" + sixteen_nine_filenames[Math.floor(Math.random() * sixteen_nine_filenames.length)])
    h1 Welcome to Prep Stars of America
    p We’re not just changing the game; we’re changing the culture of sports in America!
    p At Prep Stars of America, we offer direct services for elite athletes through our camps, combines, and in school physical education programs. We have developed a unique brand of anti-bullying, behavior modification, and anger managment, through sports for pre-k (age 5) - college age youth. From our culturally rich “Get Fit” recess programs, kinder cross fit challenge, PSA sports leagues (lacrosse, basketball, soccer, golf, tennis, flag football) to our big picture personalized physical education program for private, charter and alternative schools. These programs serve over 2,500 Bay Area cities!
  section(class="announcement")
    h1 Event Announcement Here
    button Register
  section(class="programs text-section")
    h1 Our Programs
    p Our programs have documented success at teaching manageable behavior modification and anger management techniques, which reduce the stress associated with poor self esteem related to fitness and health. All our youth; big, tall, small, overweight, underweight, slow, fast, black, white, yellow, brown and red, participate, trainand have fun togther! These factors relate to; a better child, better classroom behavior and, ultimately, fosters a more awesome school environment.
    div
      h1 Basketball
      p In aliquam leo in erat venenatis ornare. In vulputate eu leo sed mattis. Cras elit odio, porttitor euismod faucibus vitae, ultrices vitae ante. Vivamus ac diam tristique dui facilisis volutpat et at lacus. Morbi sodales erat ut quamhendrerit eleifend. In vestibulum ac odio at euismod. Mauris quis mi ut tellus vehicula vestibulum maximus vehicula odio. Integer non scelerisque elit. Nulla semper lorem sit amet augue pharetra facilisis. Donec vel vehicula dolor, non semper nunc.
      img(src="/images/player-basketball.png")
    div
      h1 Lacrosse
      p In aliquam leo in erat venenatis ornare. In vulputate eu leo sed mattis. Cras elit odio, porttitor euismod faucibus vitae, ultrices vitae ante. Vivamus ac diam tristique dui facilisis volutpat et at lacus. Morbi sodales erat ut quamhendrerit eleifend. In vestibulum ac odio at euismod. Mauris quis mi ut tellus vehicula vestibulum maximus vehicula odio. Integer non scelerisque elit. Nulla semper lorem sit amet augue pharetra facilisis. Donec vel vehicula dolor, non semper nunc.
      img(src="/images/player-lacrosse.png")
    div
      h1 Football
      p In aliquam leo in erat venenatis ornare. In vulputate eu leo sed mattis. Cras elit odio, porttitor euismod faucibus vitae, ultrices vitae ante. Vivamus ac diam tristique dui facilisis volutpat et at lacus. Morbi sodales erat ut quamhendrerit eleifend. In vestibulum ac odio at euismod. Mauris quis mi ut tellus vehicula vestibulum maximus vehicula odio. Integer non scelerisque elit. Nulla semper lorem sit amet augue pharetra facilisis. Donec vel vehicula dolor, non semper nunc.
      img(src="/images/player-football.png")
    div
      h1 Tennis
      p In aliquam leo in erat venenatis ornare. In vulputate eu leo sed mattis. Cras elit odio, porttitor euismod faucibus vitae, ultrices vitae ante. Vivamus ac diam tristique dui facilisis volutpat et at lacus. Morbi sodales erat ut quamhendrerit eleifend. In vestibulum ac odio at euismod. Mauris quis mi ut tellus vehicula vestibulum maximus vehicula odio. Integer non scelerisque elit. Nulla semper lorem sit amet augue pharetra facilisis. Donec vel vehicula dolor, non semper nunc.
      img(src="/images/player-tennis.png")
    div
      h1 Soccer
      p In aliquam leo in erat venenatis ornare. In vulputate eu leo sed mattis. Cras elit odio, porttitor euismod faucibus vitae, ultrices vitae ante. Vivamus ac diam tristique dui facilisis volutpat et at lacus. Morbi sodales erat ut quamhendrerit eleifend. In vestibulum ac odio at euismod. Mauris quis mi ut tellus vehicula vestibulum maximus vehicula odio. Integer non scelerisque elit. Nulla semper lorem sit amet augue pharetra facilisis. Donec vel vehicula dolor, non semper nunc.
      img(src="/images/player-soccer.png")
    div
      h1 Golf
      p In aliquam leo in erat venenatis ornare. In vulputate eu leo sed mattis. Cras elit odio, porttitor euismod faucibus vitae, ultrices vitae ante. Vivamus ac diam tristique dui facilisis volutpat et at lacus. Morbi sodales erat ut quamhendrerit eleifend. In vestibulum ac odio at euismod. Mauris quis mi ut tellus vehicula vestibulum maximus vehicula odio. Integer non scelerisque elit. Nulla semper lorem sit amet augue pharetra facilisis. Donec vel vehicula dolor, non semper nunc.
      img(src="/images/player-golf.png")
  section(class="tiny-ctas")
    div
      h1 Testimonials
      p What are people saying about us?
      button Learn More
    div
      h1 Our Programs
      p We offer a variety of activities and programs
      button Read More
    div
      h1 Events
      ul(class="events")
        li Event Name | Event Date
        li Event Name | Event Date
        li Event Name | Event Date
    div
      h1 Get Updates
      p Recieve PSA Updates via Email
      input(type="email", name="email_address", placeholder="Email Address")
      input(type="submit", value="Submit")
  section(class="announcement-blue")
    h1 Less Important Event Announcement Here
    button Register    
  section(class="success-stories text-section")
    h1 Our Success Stories
    blockquote This exciting new project will provide invaluable recreational and educational opportunities for California youth. By offering young people the change to enjoy non-traditional sports, build confidence, sportsmanship, and meet higher academic challenges, it will enhance many lives.
    cite &mdash; Former Gov. Gray Davis
    - for (var i=0; i<4; i++){
      img(src="/images/random_photos_from_social_sites/one-one/" + one_one_filenames[Math.floor(Math.random() * one_one_filenames.length)])
    - }
  
//- Scripts
block last_scripts
  script(src="/scripts/index.js")
