//- These need to go on this page:
//
//- Get Git Program
//- PlayJR.NBA Program
//- Health & Wellness Program
//- Digital Media Editing Program
extends ../layouts/default

block extra_styles
  link(rel="stylesheet", href="/stylesheets/about.css")
  link(rel="stylesheet", href="/stylesheets/programs.css")

block content
  main
    section(class="site-description")
      h1 What your Donation Means to Us
      p At Prep Stars of America we offer a unique brand of anti-bullying, behavior modification, and anger management, through personalized sports/fitness programming for Pre-K through High School age youth. From our strategic partnership with the World Champion Golden State Warriors Jr. Warrior Program, to our culturally rich "Get Fit" in school fitness programs. and the New Prep Star Sports Leagues (Basketball, Soccer, Golf, Tennis, Lacrosse, & NFL Flag Football) Our in school/after school Health & Wellness programs and curriculum provide a valuable resource for public, private, and Alternative schools to introduce the joy of fitness and health back into urban communities.
      p We have achieved tremendous success academically, athletically, and behaviorally through our therapeutic fitness programs. By strategically collaborating with local schools and community based youth serving organizations, we have been able to effectively serve up to 1,000 Laotian, Latino, African American, Asian, and Caucasian students daily!   
      p Your generous donation will help us with three incredible programs:
      p #[a(href="https://photos.google.com/share/AF1QipNjwgJHi_C5mATW0eWuwMgJQvtFlTOmyqbUfWZMzExW88h_gLQGhnsSgKkNWvagdQ/photo/AF1QipNZIUvV5sgb9VKrI2hH-0lbrdpAGyUUucyGnKE?key=c1FjcjZsdHZfb0VHd3U0ZlpvVGM0SVkwYkJnNk13") PlayJr.NBA!] is a partnership with Prep Stars of America #[a(href="http://www.nba.com/") NBA], #[a(href="http://usab.com/") USA Basketball], #[a(href="http://jr.nba.com/") Jr. NBA], and the #[a(href="http://nba.com/warriors/") Golden State Warriors]. Our 2015 Winter Program launch saw 160 youth ages 15-18 years old from 4 school districts received the following:
      img(src="/images/random_photos_from_social_sites/sixteen-nine/11289454_588728364603820_1431017813681726535_o.jpg", alt="Children hula hooping")
      
      -
        var items = [
          "8 weeks of Developmental Basketball Games",
          "Warriors Jersey and head band",
          "Skills & Sportsmanship Training",
          "Certificate of Accomplishment signed by Steph Curry",
        ];
      ul
      each item in items
        li - #{item}

      h1 Partnerships
      p We also launched our Jr. Warrior Cheer Program comprised of 16 girls from Greenleaf Academy in Oakland. #[a(href="http://www.nba.com/warriors/video/channel/dance_team") The Golden State Warrior Dancers] came out and taught the girls cheers and professional dance moves. #[strong Our Goal is to provide scholarships to 100 deserving students and cheerleaders during the fall season! $12,500 dollars.]
      img(src="/images/woman-dancing.jpg", alt="Cheerleaders dancing")
    
      h1 PSA Digital Sports Media Program for Middle & High School Students
      p This College to Career track is designed to give students exciting behind the scenes work in Sports Media. Students learn how to make short films, script writing, editing, camera and lighting, producing, interviewing, and filming. Our students have filmed high school and college sporting events. Thanks to the support of #[a(href="https://stanford.edu/") Stanford University], #[a(href="http://csueastbay.edu/") California State University East Bay], and #[a(href="http://www.laney.edu/wp/athletics/") Laney College Athletic], our young men & women are getting real world experiences, support and internship opportunities. #[strong Our goal is to provide 17 scholarships and purchase a van! $28,450.]
    
      //- h1 Programs
      //- p This is an awesome and life changing experience for our students! We are excited to bring this opportunity to five school districts in East Bay, Oakland, Hayward, San Leandro, Berkeley, and Alameda! Steph Curry has agreed to sign certificates for our students who sign up to play. Each child will receive a New Jr. Warrior uniform and headband, and will also be coached by college players. Games are played at Laney College.
      //- 
      //- img(src="/images/random_photos_from_social_sites/sixteen-nine/11357040_588728397937150_7465375017467699852_o.jpg")
      //- 
      //- p We're very proud to introduce our Jr.NBA and WNBA Golden State Warrior Youth Basketball program, PlayJr.NBA! Our partnership with the World Champion Golden State Warriors will provide an incredible opportunity for Bay Area students to be part of this exciting World Championship ride with the Warriors and the NBA!
      //- 
      //- h1 About PlayJr.NBA
      //- p There is a unique Partnership between Prep Stars of America, USA Basketball, and Golden State Warriors. Our goal is to expand the love of health and fitness through basketball from a grassroots level. Partnering with community organizations who share the same passions and commitments in leading our grassroots initiative.
  aside
    section
      h1 Join the Team
      img(src="/images/james-jones-on-the-field.jpg")
      p "I believe Prep Stars of America is one of the top youth sports programs addressing childhood obesity in a manner that will not only impact the child but the whole family."
      p "By participating in the skill challenge events, children are able to get fit, get educated, and get skills necessary to be successful on and off the field. Join the team today! Let’s eradicate obesity in America!" - <b>James Jones NFL WR Greenbay Packers</b>
  main.bottom-two
    section
      img(src="/images/random_photos_from_social_sites/one-one/10860876_559535524189771_8990772276712672260_o.jpg")
      div.right
        h1 Documented Success
        p Our programs have documented success at teaching manageable behavior modification and anger management techniques, which reduce the stress associated with poor self esteem related to fitness and health.
    section
      img(src="/images/diversity.jpg")
      div.right
        h1 Diversity
        p Our programs meet the Office of Juvenile Justice and Delinquency Prevention’s criteria for young people who face high probabilities of school or social failure, including criminal or delinquency involvement.
