//- These need to go on this page:
//
//- Get Git Program
//- PlayJR.NBA Program
//- Health & Wellness Program
//- Digital Media Editing Program
extends ../layouts/default

block extra_styles
  link(rel="stylesheet", href="/stylesheets/about.css")
  link(rel="stylesheet", href="/stylesheets/programs.css")

block content
  main
    section(class="site-description")
      h1 Programs
      p This is an awesome and life changing experience for our students! We are excited to bring this opportunity to five school districts in East Bay, Oakland, Hayward, San Leandro, Berkeley, and Alameda! Steph Curry has agreed to sign certificates for our students who sign up to play. Each child will receive a New Jr. Warrior uniform and headband, and will also be coached by college players. Games are played at Laney College.
      
      img(src="/images/random_photos_from_social_sites/sixteen-nine/11357040_588728397937150_7465375017467699852_o.jpg")

      p We're very proud to introduce our Jr.NBA and WNBA Golden State Warrior Youth Basketball program, PlayJr.NBA! Our partnership with the World Champion Golden State Warriors will provide an incredible opportunity for Bay Area students to be part of this exciting World Championship ride with the Warriors and the NBA!
  aside
    section
      h1 Join the Team
      img(src="/images/james-jones-on-the-field.jpg")
      p "I believe Prep Stars of America is one of the top youth sports programs addressing childhood obesity in a manner that will not only impact the child but the whole family."
      p "By participating in the skill challenge events, children are able to get fit, get educated, and get skills necessary to be successful on and off the field. Join the team today! Let’s eradicate obesity in America!" - <b>James Jones NFL WR Greenbay Packers</b>
  main.bottom-two
    section
      img(src="/images/random_photos_from_social_sites/one-one/10860876_559535524189771_8990772276712672260_o.jpg")
      div.right
        h1 Documented Success
        p Our programs have documented success at teaching manageable behavior modification and anger management techniques, which reduce the stress associated with poor self esteem related to fitness and health.
    section
      img(src="/images/diversity.jpg")
      div.right
        h1 Diversity
        p Our programs meet the Office of Juvenile Justice and Delinquency Prevention’s criteria for young people who face high probabilities of school or social failure, including criminal or delinquency involvement.
