//- These need to go on this page:
//
//- Get Git Program
//- PlayJR.NBA Program
//- Health & Wellness Program
//- Digital Media Editing Program
extends ../layouts/default

block extra_styles
  link(rel="stylesheet", href="/stylesheets/about.css")
  link(rel="stylesheet", href="/stylesheets/programs.css")

block content
  div(class="title")
    h1 Programs
  main
    section(class="site-description")
      p At Prep Stars of America we offer a unique brand of anti-bullying, behavior modification, and anger management, through personalized sports/fitness programming for Pre-K through High School age youth. From our strategic partnership with the World Champion Golden State Warriors Jr. Warrior Program, to our culturally rich "Get Fit" in school fitness programs and the New Prep Star Sports Leagues (Basketball, Soccer, Golf, Tennis, Lacrosse, & NFL Flag Football), our in school/after school Health & Wellness programs and curriculum provide a valuable resource for public, private, and Alternative schools to introduce the joy of fitness and health back into urban communities.
      p We have achieved tremendous success academically, athletically, and behaviorally through our therapeutic fitness programs. By strategically collaborating with local schools and community based youth serving organizations, we have been able to effectively serve up to 1,000 students daily!   
      p We have some incredible programs:
      h2 Get Fit
      p Get Fit recess fitness program that serves pre-k, middle and high school age youth. Students participating in Get Fit are performing 97% above the state fitness average! That is a #[em 1 day] snapshot of Get Fit!
      div.youtube-video
        iframe(src="https://www.youtube.com/embed/lKVVeiEoLiM" frameborder="0", allowfullscreen)
      h2 High School Health & Wellness Programs
      p These programs are designed for alternative, private, charter, and juvenile detention schools. All videos were written, filmed, and edited by our students.
      div.youtube-video
        iframe(src="https://www.youtube.com/embed/Sfgeh_DwOnM?rel=0", width="853", height="480", frameborder="0", allowfullscreen)
      h2 PlayJr.NBA
      p (Partnership between Prep Stars of America, the NBA/WNBA, & the Golden State Warriors!)  This unique partnership allows inner city children the experience of learning and playing basketball just like the Golden State Warriors! 
      p We give each participant 8 weeks of basketball, Warrior uniforms, head bands, training, even a certificate autographed by Steph Curry! We had 160 kids participate from age 5-18. 4 school districts participated.  We even provide Jr. Warrior Cheerleaders (just like the warriors) Putting the FUN back into learning sports in a fun environment. All Coaches are college & former professional athletes! Our Goal is to sponsor 100 cheerleaders & little ballers next season! #[a(href="http://www.playjr-nba.com/") Visit the Play.JR NBA site!]
      p Steph Curry has agreed to even sign certificates for all of our students that sign up to play! Each child will receive a New Jr. Warrior uniform, headband, and be coached by college players! 
      p All games are played at Laney College.
      p Our 2015 Winter Program launch saw 160 youth ages 15-18 years old from 4 school districts received the following:
      -
        var items = [
          "8 weeks of Developmental Basketball Games",
          "Warriors Jersey and head band",
          "Skills & Sportsmanship Training",
          "Certificate of Accomplishment signed by Steph Curry",
        ];
      ul
        each item in items
          li - #{item}
      img(src="/images/random_photos_from_social_sites/sixteen-nine/11289454_588728364603820_1431017813681726535_o.jpg", alt="Children hula hooping")  
      h2 Partnerships
      p We also launched our Jr. Warrior Cheer Program comprised of 16 girls from Greenleaf Academy in Oakland. #[a(href="http://www.nba.com/warriors/video/channel/dance_team") The Golden State Warrior Dancers] came out and taught the girls cheers and professional dance moves. #[strong Our Goal is to provide scholarships to 100 deserving students and cheerleaders during the fall season!]
      figure
        img(src="/images/woman-dancing.jpg", alt="Cheerleaders dancing")
        figcaption #[a(href="http://www.nba.com/warriors/video/teams/warriors/2016/03/29/1459279119547-0329-Spotlight_Step-Up-Your-Game-Dance-Clinic.mov-401479" target="_blank") Step Up Your Game Dance Clinic] Presented by The California Endowment Host Prep Stars of America
      h2 Digital Sports Media Program for Middle & High School Students
      p This college to career track is designed to give students behind the scenes experience in Sports Media. Students learn to interview people, write scripts, edit footage, handle camera and lighting, produce and film footage. Our students have filmed high school and college sporting events. Thanks to the support of #[a(href="https://stanford.edu/") Stanford University], #[a(href="http://csueastbay.edu/") California State University East Bay], and #[a(href="http://www.laney.edu/wp/athletics/") Laney College Athletic], our young men & women are getting real world experiences, support and internship opportunities. #[strong Our goal is to provide 17 scholarships and purchase a van!]
      
      h2 About BAM Testing
      p #[a(href="http://www.bamtesting.net/" target="_blank") #[b BAM]] (Basic Athletic Measurement) headquarters is located in Seattle, WA.  BAM’s management team is made up of strength and conditioning coaches and technology professionals who share the common goal of building the most effective methods to evaluate athletic skills and building precise measuring tools. BAM was started in 2008 by Brett Brungardt. Over the last 20 years, Brett Brungardt has established himself as one of America’s most accomplished and premiere strength and conditioning coaches. He has trained NBA MVP’s and dunk champions, Cy Young Award Winners, NFL players and Olympic athletes.

  aside
    section
      h1 Building the Elite
      img( src="/images/random_photos_from_social_sites/sixteen-nine/" + sixteen_nine_filenames[Math.floor(Math.random() * sixteen_nine_filenames.length)])
      p As a #[i Prep Star] athlete, youth will recieve elite training and skill development, which help them harness their athleticism into becoming an elite person. Those youths that fully embrace what it means to be a Prep Star athlete will get an invitation to compete in our football, basketball, baseball and volleyball combines, leagues, and camps, which are visited by college coaches and scouts!
      h1 Diversity
      br
      p We're proud to serve a cultrally diverse student body! We serve students from many different cultural and religious roots&mdash; from Hispanic to African American and even Middle-Eastern to Loasian backgrounds! Our diverse student body brings a colorful touch to the Prep Stars Physical Education Programs.
    
