extends ../layouts/default

block extra_styles
  link(rel="stylesheet", href="/stylesheets/success.css")
  
block content
  div(class="title")
    h1 Success
  main
    section(class="success")
      p We help students achieve their goals and set new heights everyday. Every student has a successs story to share, but highlighting every one of them is impossible. We give light to a few sucess stories, and we recognize that every student has such a story to share with you.
      div.clear
      blockquote(class="special") #[i The starting point of all achievement is desire.]
        cite  &mdash; Napoleon Hill
      div.clear
      div(class="story")
        h2(style="text-align: center; font-size: 1.500em; line-height: 1.500em;") Dante Exum
        img(src="/images/im.png", alt="Success Story", style="margin: 5px; float: left; display: block; height: 300px; width: auto;") 
        p Testing early not only helps to establish a Benchmark for athletes to see where they're at, but it's also used to compare them against other top pro athletes from our database of 6 years of NBA testing.
        p Dante Exum was a talented 17yr old teenager from Australia looking to go to college. His parents were looking into colleges when he tested at one of our BAM Europe events for Adidas. His BAM test scores were so high that NBA general managers were startled and his stock rose! 
        p Forget college, Dante! You're headed to the NBA! He was drafted the #5 Pick in the 2014 NBA Draft.  
      div.clear  
      div.youtube-video
          iframe(src="https://www.youtube.com/embed/G1GWBB7qrBA?rel=0" frameborder="0", allowfullscreen)
      h2 Be #[i motivated] to train. Be #[i motivated] to be the #[b best]. Be #[i motivated] to be a champion. 
      div.clear 
