extends ../layouts/default

block extra_styles
  link(rel="stylesheet", href="/stylesheets/about.css")

block content
  div(class="title")
    h1 Testimonials
  main(style="width: 80%; margin: 0px auto; float: none;")
    section(class="site-description")      
      h1(style="margin-top: 7.5%;font-size: 1.5rem;text-transform: none;line-height: 125%;margin: 0") "This is an incredible program and your students are so respectful"
      p Golden State Warrior Staff

      h1(style="margin-top: 7.5%;font-size: 1.5rem;text-transform: none;line-height: 125%;margin: 0") Prep Stars has changed the environment on campus since coming to Greenleaf Academy.  If it wasn’t for Prep Stars developing our structured recess program, I don’t know where we would be during our campus renovation project. Our students are more engaged than ever before.
      p Melanie Schoeppe Principal Greenleaf Academy

      h1(style="margin-top: 7.5%;font-size: 1.5rem;text-transform: none;line-height: 125%;margin: 0") "Coach do you know where these kids would be if they weren't here right now?.... They would be in the streets or in trouble, this is so beautiful to see kids playing and laughing together from different cities, you are changing the culture."
      p Fernando Cruz Case Manager, Community Activist, at Dewey High School

      h1(style="margin-top: 7.5%;font-size: 1.5rem;text-transform: none;line-height: 125%;margin: 0") "Prep Stars of America's presence on our campuses is changing the perception of our kids, they believe they can do better...... they carry themselves differently, and we are just so appreciative of what your programs bring to our students."
      p Brooklyn Williams Dir Programming @ OUSD consultant

      h1(style="margin-top: 7.5%;font-size: 1.5rem;text-transform: none;line-height: 125%;margin: 0") "This is awesome, our girls have never played basketball before and you were able to motivate them in becoming a team, not just on the court but in school. We are so appreciative of all your hard work with our students!"
      p Angelica Reyes Dir. of After  School Services Oakland Intl.

      h1(style="margin-top: 7.5%;font-size: 1.5rem;text-transform: none;line-height: 125%;margin: 0") "Your students are some of the best behaved, and respectful group of kids I have taught tennis to in all of my travels around the United States representing the USTA. You’re doing a wonderful job!"
      p Wayne Bryan-Head Coach Sacramento Capitals Professional Tennis Team World Champions

      h1(style="margin-top: 7.5%;font-size: 1.5rem;text-transform: none;line-height: 125%;margin: 0") "The students who participated in the Serve-n-Learn Program have not only improved academically, but physically as well. The additional time, dedication, and mentoring your organization provided, has made a tremendous difference in the lives of our students and their families at Martin Luther King Elementary."
      p John Szot-Principal Martin Luther King Elementary Richmond, CA
