/**
 * about.scss
 *
 * Alexander Rhett Crammer
 * Wednesday, 13 April, 2015
 */
@import "settings.scss";

// Top Bar Colors
$donate-bar-color: #ccedf6;
$donate-button-color: $purple;
$page-title-background-color: #246d90;
$secondary-nav-height: 45px;

// Structure
main {
  float: left;
  width: 80%;
}

aside {
  background-color: mediumvioletred;
  float: right;
  width: 20%;

  img {
    width: 100%;
  }
}

// Navigation bar
.links-and-donation-button {
  background-color: $donate-bar-color;
  height: $secondary-nav-height;
  overflow: visible;
  text-align: right;

  nav {
    text-align: left;
    position: relative;
    left: 5%;
    width: 75%;

    li {
      display: inline-block;
      margin: auto 0.5rem;
      line-height: $secondary-nav-height;
    }
  }

  // Secondary Navigation Links
  a:link,
  a:visited {
    color: $page-title-background-color;
    text-decoration: none;
    transition: all 175ms;
  }

  a:hover {
    color: lighten($page-title-background-color, 25%);
  }

  a:active {
    color: darken($page-title-background-color, 25%);
  }
}

// Donate Button
.donate-button {
  background-color: $donate-button-color;
  border: {
    top-left-radius: 0;
    top-right-radius: 0;
    right: solid 0.2rem darken($donate-button-color, 7.5%);
    bottom: solid 0.2rem darken($donate-button-color, 7.5%);
    left: solid 0.2rem darken($donate-button-color, 7.5%);
  }
  color: lighten($light-blue, 50%);
  float: right;
  margin-right: 5%;

  &:hover {
    background-color: lighten($donate-button-color, 25%);
  }

  &:active {
    background-color: darken($donate-button-color, 20%);
    color: darken($white, 45%);
  }
}

// Title
.title {
  background-color: $page-title-background-color;
  border: {
    top: 0.25rem solid darken($page-title-background-color, 7.5%);
    bottom: 0.25rem solid darken($page-title-background-color, 7.5%);
  }

  h1 {
    color: lighten($page-title-background-color, 55%);
    font-size: 4rem;
    padding: 2rem 5rem;
    text-transform: uppercase;
  }
}

// Site Description
.site-description {
  margin: 5% auto;
  width: 80%;

  h1 {
    color: $black;
    font: {
      size: 1.75rem;
      weight: 300;
    }
    margin: 2.5% auto;
    text-transform: uppercase;
  }

  img {
    border-radius: 0.25rem;
    margin: 3.5% auto;
  }

  p {
    font-weight: 300;
    line-height: 150%;
    margin: 3.5% auto;
  }

  hr {
    border-style: solid;
    color: rgb(90, 89, 87);
    margin: 7.5% 1.5%;
  }
}
