/**
 * donate.scss
 *
 * Alexander Rhett Crammer
 * Friday, 22 April, 2016
 */
@import "settings.scss";

// Structure
body {
  text-align: center;
}

// Featured Video
iframe, #player {
  margin-top: 12.5%;
}

// Demographics
.demographics {
  div {
    border-radius: 0.25rem;
    float: left;
    margin: 12px / 916px * 100%;
    padding-bottom: 2.5%;
    text-align: center;
    width: 281.33333333px / 916px * 100%;

    h1 {
      border-top: {
        left-radius: 0.25rem;
        right-radius: 0.25rem;
      };
      margin: 0;
      margin-bottom: 5%;
      padding: 5% 0;
    }

    p {
      text-align: left;
    }

    img {
      margin: {
        top: 2.5%;
        bottom: 5%;
      };
    }

    // Colors
    // Purple
    &:nth-of-type(1) {
      background-color: $purple;

      h1 {
        background-color: darken($purple, 12.5%);
        color: lighten($purple, 25%);
      }

      p {
        color: lighten($purple, 25%);
      }
    }

    // Red
    &:nth-of-type(2) {
      background-color: $red;

      h1 {
        background-color: darken($red, 20%);
        color: lighten($red, 15%);
      }

      p {
        color: darken($red, 30%);
      }
    }

    // Blue
    &:nth-of-type(3) {
      background-color: $light-blue;

      h1 {
        background-color: darken($light-blue, 20%);
        color: lighten($light-blue, 15%);
      }

      p {
        color: darken($light-blue, 35%);
      }
    }
  }
}

// CTAs
.ctas {
  clear: both;
  margin: auto;
  position: relative;
  top: 15px;
  margin: 7.5% auto;
  overflow: auto;
  width: 75%;
}

.cta {
  float: left;
  margin: 1.3020833333%;
  width: 30.729166667%;

  span {
    font-size: 2rem;
    padding: 10%;
  }

  h4 {
    font-size: 1.75rem;
    margin-top: 1.5%;
  }

  p {
    margin-top: 10%;
  }
}

// Responsiveness
@media only screen and (max-width: 964px) {
  // Demographics
  .demographics div {
    margin: 20px / 964px * 100%;
    width: 442px / 964px * 100%;
  }
}

@media only screen and (max-width: 600px) {
  // Demographics
  .demographics div {
    width: 576px / 600px * 100%;

    &:last-of-type {
      margin-bottom: 5%;
    }

    h1 {
      width: 100%;
    }
  }
}
