/**
 * main.scss
 *
 * Alexander Rhett Crammer
 * Monday, 11 April, 2016
 */
@import "settings.scss";

// Structure
body {
  background-color: #F3F3ED;
  color: #5A5957;
  font-family: "Roboto";
  font-weight: 700;
}

.text-section {
  font-weight: 500;
  margin: 3.5rem auto;

  h1 {
    font-size: 2rem;
    letter-spacing: 0.025rem;
    margin: 3.5% 0 2.5%;
    text-align: center;
    text-transform: uppercase;
  }

  p,
  blockquote,
  cite {
    line-height: 175%;
    margin: 1rem auto;
    max-width: 700px;
    width: 80%;
  }

  cite {
    display: block;
    font-weight: bold;
    text-align: right;
    position: relative;
    right: 1rem;
  }
}

.normal-weight {
  font-weight: 500;
}

// Top Bar
nav.site-nav {
  background-color: $light-blue;
  height: 100px;
  overflow: auto;

  nav.site-nav ul li {
    display: block;
    float: left;
    list-style: none;
  }

  // Escape Hatch
  .escape-hatch {
    display: block;
    float: left;
    padding: 12.5px;
    text-align: center;
    width: 75px / 1024px * 100%;

    img {
      max-width: 75px;
      max-height: 75px;
    }
  }

  li > li:hover {
    background: #246D90;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 15px 5px 5px 5px;
    font-style: normal;
  }

  li:hover .drop {
    color: lighten($nav-link-color, 32.5%);
    font-style: normal;
  }

  li.dropbtn ul.dropdown-content {
    display: none;
    position: absolute;
    top: 3.8em;
    float: none;
    background-color: #246D90;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 99999;
    padding: 15px;
    text-align: left;
    -moz-column-count: 2;
    -moz-column-gap: 15px;
    -webkit-column-count: 2;
    -webkit-column-gap: 15px;
    column-count: 2;
    column-gap: 15px;
  }

  ul.dropdown-content a {
    color: #5BCCE6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  ul.dropdown-content li p {
    line-height: 1.2em;
    padding: 0;
    margin: 10px;
    font-weight: normal;
    font-size: .8em;
    color: #5BCCE6;
  }

  ul.dropdown-content h1 {
    color: #5BCCE6;
    line-height: 1em;
    text-transform: capitalize;
    font-size: 1.4em;
  }

  ul.dropdown-content a:hover {
    background-color: #246D90;
  }

  li.dropbtn:hover ul.dropdown-content {
    background-color: #246D90;
    display: inline;
    float: left;
  }

  // Links
  a {
    text-decoration: none;
    text-transform: uppercase;
    transition: all 225ms;

    &:link,
    &:visited {
      color: $nav-link-color;
    }

    &:hover {
      font-style: italic;
    }

    &:active {
      color: darken($nav-link-color, 25%);
    }
  }

  > ul {
    float: right;
    height: 100px;
    text-align: right;
    width: 924px / 1024px * 100%;

    > li {
      display: inline;
      line-height: 100px;

      &:last-of-type {
        margin-right: 5%;
      }

      a {
        padding: 0 1.25%;

        img {
          width: 25px;
          vertical-align: middle;
        }
      }
    }
  }
}

// Announcements
.announcement {
  background-color: $yellow;
  border: {
    top: 5px solid darken($yellow, 3.5%);
    bottom: 5px solid darken($yellow, 3.5%);
  }
  color: $orange;
  font-weight: 500;
  overflow: auto;
  position: relative;

  h1 {
    float: left;
    font-size: 1.35rem;
    padding: 2.5rem;
    padding-right: 0;
    text-transform: uppercase;
    width: 75%;
  }

  button {
    background-color: $orange;
    color: $yellow;
    border: 0;
    float: right;
    font-size: 1rem;
    padding: 0 3%;
    position: absolute;
    top: 25%;
    right: 5%;
    bottom: 25%;
    text-transform: uppercase;

    &:hover {
      background-color: lighten($orange, 10%);
    }

    &:active {
      background-color: darken($orange, 25%);
      color: darken($yellow, 25%);
    }
  }
}

.announcement-blue {
  @extend .announcement;
  background-color: $light-blue;
  border: {
    top: 5px solid darken($light-blue, 3.5%);
    bottom: 5px solid darken($light-blue, 3.5%);
  }
  color: darken($light-blue, 35%);

  button {
    background-color: darken($light-blue, 35%);
    color: $light-blue;

    &:hover {
      background-color: lighten($light-blue, 27.5%);
    }

    &:active {
      background-color: darken($light-blue, 50%);
      color: darken($light-blue, 27.5%);
    }
  }
}

// Buttons
button {
  border: 0;
  color: #efefef;
  font: {
    family: "Roboto";
    size: 1rem;
    weight: bold;
  };
  letter-spacing: 0.025rem;
  outline: none;
  padding: 0.75rem 2rem;
  text-transform: uppercase;
}

button,
input[type="text"],
input[type="email"],
input[type="submit"] {
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 225ms;
}

// Footer
footer {
  .contact-and-social {
    background-color: $purple;
    border: {
      top: 5px solid darken($purple, 3.5%);
      bottom: 5px solid darken($purple, 3.5%);
    }
    overflow: auto;
    padding: 1.75rem 3rem;

    img {
      max-width: 65px;
      width: 12.5%;
    }

    .left, .right {
      float: left;
      position: relative;
      width: 510px / 1024px * 100%;
    }

    .left {
      border-right: 1px solid darken($purple, 15%);

      img {
        margin-left: 2.5%;
      }

      input {
        background-color: darken($purple, 10%);
        border: 0;
        color: lighten($purple, 35%);
        font: {
          family: "Roboto", sans-serif;
          size: 0.85rem;
        }
        letter-spacing: 0.025rem;
        margin-left: 7.5%;
        position: absolute;
        text-align: center;
        top: 10%;
        right: 10%;
        bottom: 10%;
        width: 65%;

        &::-webkit-input-placeholder {
          color: $purple;
        }

        &:-moz-placeholder {
          // Firefox 18-
          color: $purple;
        }

        &::-moz-placeholder {
          // Firefox 19+
          color: $purple;
        }

        &::-ms-input-placeholder {
          color: $purple;
        }
      }
    }

    .right {
      border-left: 1px solid darken($purple, 15%);
      text-align: center;

      a {
        margin: 0 3.5%;
      }
    }
  }

  .latest-photos {
    margin: 0 (25px / 1024px * 100%);
    margin-bottom: 2.5%;

    a {
      display: block
    }

    img {
      border-radius: 0.225rem;
      margin: 10px / 1024px * 100%;
      width: 150.66667px / 1024px * 100%;
    }
  }

  .end {
    background-color: $light-blue;
    border-top: 5px solid darken($light-blue, 10%);
    overflow: auto;

    div {
      float: left;
      padding: 25px;
      width: 206px;
    }

    form {
      input,
      textarea {
        background-color: #246d90;
        border: 0;
        border-radius: 0.15rem;
        color: lighten($light-blue, 25%);
        font: {
          family: "Roboto", sans-serif;
          size: 0.85rem;
          weight: 300;
        }
        margin: 2.5% auto;
        padding: 15px;
        resize: none;
        width: 191px;

        @mixin footer-end-placeholder-style() {
          color: $light-blue;
          letter-spacing: 0.035rem;
          text-transform: uppercase;
        }

        &::-webkit-input-placeholder {
          @include footer-end-placeholder-style();
        }

        &:-moz-placeholder {
          // Firefox 18-
          @include footer-end-placeholder-style();
        }

        &::-moz-placeholder {
          // Firefox 19+
          @include footer-end-placeholder-style();
        }

        &::-ms-input-placeholder {
          @include footer-end-placeholder-style();
        }
      }
    }

    input[type="submit"] {
      color: $light-blue;
      letter-spacing: 0.075rem;
      padding: {
        top: 6.5%;
        bottom: 6.5%;
      }
      text: {
        transform: uppercase;
        indent: 0;
      }
      width: 45%;

      &:hover {
        background-color: lighten($light-blue, 27.5%);
      }

      &:active {
        background-color: darken($light-blue, 50%);
        color: darken($light-blue, 35%);
      }
    }
  }
}

// Fonts
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto-regular.eot");
  src: url("/fonts/roboto-regular.eot?#iefix") format("embedded-opentype"),
       url("/fonts/roboto-regular.woff2") format("woff2"),
       url("/fonts/roboto-regular.woff") format("woff"),
       url("/fonts/roboto-regular.ttf") format("truetype"),
       url("/fonts/roboto-regular.svg#robotoregular") format("svg");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto-bold.eot");
  src: url("/fonts/roboto-bold.eot?#iefix") format("embedded-opentype"),
       url("/fonts/roboto-bold.woff2") format("woff2"),
       url("/fonts/roboto-bold.woff") format("woff"),
       url("/fonts/roboto-bold.ttf") format("truetype"),
       url("/fonts/roboto-bold.svg#robotobold") format("svg");
  font-weight: 800;
}
