/**
 * main.scss
 *
 * Alexander Rhett Crammer
 * Monday, 11 April, 2016
 */
@import "settings.scss";

// Structure
body {
  background-color: #F3F3ED;
  color: #5A5957;
  font-family: "Roboto";
  font-weight: 700;
  -webkit-tap-highlight-color: transparent; // iOS tap overlay thing
}

// Text Sections

span {
  font-style: italic;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

.text-section {
  font-weight: 500;
  margin: 3.5rem auto;
  text-align: left;

  h1 {
    font-size: 1.35rem;
    letter-spacing: 0.025rem;
    margin: 3.5% 0 2.5%;
    text-align: center;
    text-transform: uppercase;
  }
  

  p,
  blockquote,
  cite {
    line-height: 175%;
    margin: 1rem auto;
    max-width: 960px;
    width: 100%;
  }

  cite {
    display: block;
    font-weight: bold;
    text-align: right;
    position: relative;
    right: 1rem;
  }
}

.normal-weight {
  font-weight: 500;
}

// Top Bar
.pancake-menu {
  background-color: transparent;

  span {
    background: black;
    height: 5px;
  }
}

.site-nav {
  background-color: $darker-blue;
  border-bottom: 0.25rem solid darken($darker-blue, 15%);
  position: relative;

  // Escape Hatch
  .escape-hatch {
    background: {
      image: url('/icons/ugly-logo.png');
      position: center center;
      repeat: no-repeat;
      size: contain;
    }
    display: block;
    float: left;
    margin: auto;
    max-height: 50px;
    padding: 12.5px / 1024px * 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2.5%;
    text-align: center;
    width: 5%;
  }

  // Pancake Button
  .pancake-button {
    display: none;
  }

  // Dropdown clearfix
  &::after {
    content: "";
    display: table;
    clear: both;
  }

  // Link List
  ul {
    float: right;
    margin-right: 2.5%;
    text-align: right;
    width: 82.5%;

    li a {
      color: #5BCCE6;
      line-height: 100px;
      padding: 0 1.25%;

      img {
        width: 25px;
        vertical-align: middle;
      }
    }
  }

  // Dropdown Menu
  li {
    cursor: pointer;
    display: inline-block;
    padding: 0 0.35rem;

    &:hover a {
      color: white;
    }

    // Dropdown Menu
    &.dropbtn {
      position: relative;

      &.is-showing a {
        background-color: $darker-blue / 1.25;
        border: {
          top-left-radius: 0.25rem;
          top-right-radius: 0.25rem;
        }
        color: $white;
      }

      ul {
        background-color: $darker-blue / 1.25;
        border-radius: 5px;
        border-top-left-radius: 0;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        display: none;
        float: none;
        padding: 1.25rem 0.75rem;
        position: absolute;
        top: 4.25rem;
        left: 0.35rem;
        text-align: left;
        width: 500px;
        z-index: 1;

        a:link,
        a:visited {
          color: $white;
          display: block;
          padding: 12px 16px;
          text-decoration: none;
        }

        a:hover {
          background-color: #246D90;
        }

        li {
          display: block;
          float: left;
          min-height: 85px;
          width: 238.5px;

          h1 {
            color: $white / 1.025;
            font-size: 1.4rem;
            line-height: 1.25rem;
          }

          p {
            color: $white / 1.025;
            font-weight: normal;
            font-size: 0.8em;
            line-height: 1.15rem;
            margin-top: 0.5rem;
            padding: 0;
          }

          &:hover {
            h1, p {
              color: lighten(#5bcce6, 30%);
            }
          }

          &:nth-of-type(3) {
            clear: both;
          }
        }
      }
    }
  }

  // Links
  .active {
    background-color: lighten($darker-blue, 7.5%);
    border: 0.175rem solid lighten($darker-blue, 2.5%);
    border-radius: 100rem;
    color: $white !important;
    padding: 0.65rem 1.5rem;
    transition: background-color 175ms;

    &:hover {
      background-color: lighten($darker-blue, 12.5%);
    }

    &:active {
      background-color: darken($darker-blue, 12.5%);
      border: 0.175rem solid darken($darker-blue, 2.5%);
    }

    a:link,
    a:visited {
      color: $white * 0.925;
    }
  }

  a:link,
  a:visited {
    color: $white / 1.05;
    letter-spacing: 0.025rem;
    padding: 0.65rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 225ms;
  }

  a:hover {
    color: lighten($light-blue, 15%) * 1.25;
  }

  a:active {
    color: darken($nav-link-color, 50%);
  }
}

// Secondary Navigation Links
.secondary-navigation-links {
  background-color: $donate-bar-color;
  height: $secondary-nav-height;
  overflow: visible;
  text-align: right;

  nav {
    text-align: left;
    width: 100%;

    li {
      display: inline-block;
      margin: auto 0.5rem;
      line-height: $secondary-nav-height;

      &:first-of-type {
        margin-left: 5%;
      }
    }
  }

  // Secondary Navigation Links
  a:link,
  a:visited {
    color: $page-title-background-color;
    text-decoration: none;
    transition: all 175ms;
  }

  a:hover {
    color: lighten($page-title-background-color, 25%);
  }

  a:active {
    color: darken($page-title-background-color, 25%);
  }
}

// Title
.title {
  background-color: #D32F2F;
  border: {
    bottom: 0.25rem solid #c62a2a;
    top: 0.25rem solid #c62a2a;
  }

  h1 {
    color: #992222;
    font-size: 4rem;
    padding: 2rem 5rem;
    text: {
      align: center;
      transform: uppercase;
    }
  }
}

// Announcements
.announcement {
  background-color: $red;
  border: {
    top: 5px solid darken($red, 3.5%);
    bottom: 5px solid darken($red, 3.5%);
  }
  color: #B71C1C;
  font-weight: 500;
  overflow: auto;
  position: relative;

  h1 {
    float: left;
    font-size: 1.35rem;
    line-height: 125%;
    padding: 2.5rem;
    padding-right: 0;
    text-transform: uppercase;
    width: 75%;
  }

  button {
    background-color: #B71C1C;
    color: $red;
    border: 0;
    float: right;
    font-size: 1rem;
    padding: 0 3%;
    position: absolute;
    top: 25%;
    right: 5%;
    bottom: 25%;
    text-transform: uppercase;

    &:hover {
      background-color: lighten(#B71C1C, 10%);
    }

    &:active {
      background-color: darken(#B71C1C, 25%);
      color: darken($red, 25%);
    }
  }
}

.announcement-blue {
  @extend .announcement;
  background-color: $light-blue;
  border: {
    top: 5px solid darken($light-blue, 3.5%);
    bottom: 5px solid darken($light-blue, 3.5%);
  }
  color: darken($light-blue, 35%);

  .announcment-blue h1 {
    color: #246D90;
  }

  button {
    background-color: darken($light-blue, 35%);
    color: $light-blue;

    &:hover {
      background-color: lighten($light-blue, 27.5%);
    }

    &:active {
      background-color: darken($light-blue, 50%);
      color: darken($light-blue, 27.5%);
    }
  }
}

// Buttons
button {
  border: 0;
  color: #efefef;
  font: {
    family: "Roboto";
    size: 1rem;
    weight: bold;
  };
  letter-spacing: 0.025rem;
  outline: none;
  padding: 0.75rem 2rem;
  text-transform: uppercase;
}

button,
input[type="text"],
input[type="email"],
input[type="submit"] {
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 225ms;
}

// Footer
footer {
  clear: both;
  text-align: left;

  .contact-and-social {
    background-color: #D32F2F;
    border: {
      top: 5px solid darken(#D32F2F, 3.5%);
      bottom: 5px solid darken(#D32F2F, 3.5%);
    }
    overflow: auto;
    padding: 0.75rem 3rem;

    img {
      max-width: 65px;
      width: 10%;
    }

    .left, .right {
      float: left;
      position: relative;
      width: 510px / 1024px * 100%;
    }

    .left {
      border-right: 1px solid darken(#D32F2F, 15%);

      img {
        margin-left: 2.5%;
      }

      input {
        background-color: darken(#D32F2F, 10%);
        border: 0;
        color: lighten(#D32F2F, 35%);
        font: {
          family: "Roboto", sans-serif;
          size: 0.85rem;
        }
        letter-spacing: 0.025rem;
        margin-left: 7.5%;
        position: absolute;
        text-align: center;
        top: 12.5%;
        right: 10%;
        bottom: 12.5%;
        width: 65%;

        &::-webkit-input-placeholder {
          color: #D32F2F;
        }

        &:-moz-placeholder {
          // Firefox 18-
          color: #D32F2F;
        }

        &::-moz-placeholder {
          // Firefox 19+
          color: #D32F2F;
        }

        &::-ms-input-placeholder {
          color: #D32F2F;
        }
      }
    }

    .right {
      border-left: 1px solid darken(#D32F2F, 15%);

      a {
        margin: 0 1.5%;
      }
    }
  }

  .latest-photos {
    margin: 0 (25px / 1024px * 100%);
    margin-bottom: 2.5%;

    a {
      display: block
    }

    img {
      border-radius: 0.225rem;
      margin: 10px / 1024px * 100%;
      width: 150.66667px / 1024px * 100%;
    }
  }

  .end {
    background-color: $darker-blue;
    border-top: 0.35rem solid darken($darker-blue, 10%);
    overflow: auto;
    padding: 2.5rem 3.5rem;
    padding-bottom: 0;

    div {
      float: left;
      padding: 5px / 1024px * 100%;
      margin: 5px / 1024px * 100%;
      width: 236px / 1024px * 100%;
    }

    // Message Form
    form {
      width: 159.8px;

      input,
      textarea {
        background-color: #246d90;
        border: 0;
        border-radius: 0.15rem;
        color: lighten($light-blue, 25%);
        font: {
          family: "Roboto", sans-serif;
          size: 0.85rem;
          weight: 300;
        }
        margin: 2.5% auto;
        padding: 15px;
        resize: none;
        width: 129.8px;

        @mixin footer-end-placeholder-style() {
          color: $light-blue;
          letter-spacing: 0.035rem;
          text-transform: uppercase;
        }

        &::-webkit-input-placeholder {
          @include footer-end-placeholder-style();
        }

        &:-moz-placeholder {
          // Firefox 18-
          @include footer-end-placeholder-style();
        }

        &::-moz-placeholder {
          // Firefox 19+
          @include footer-end-placeholder-style();
        }

        &::-ms-input-placeholder {
          @include footer-end-placeholder-style();
        }
      }

      input[type="submit"] {
        color: $light-blue;
        letter-spacing: 0.075rem;
        padding: 6.5%;
        text: {
          transform: uppercase;
          indent: 0;
        }
        width: 100%;

        &:hover {
          background-color: lighten($light-blue, 27.5%);
        }

        &:active {
          background-color: darken($light-blue, 50%);
          color: darken($light-blue, 35%);
        }
      }
    }

    // Contact Information
    .contact-information {
      color: $white;
      font-weight: 300;
      text-transform: uppercase;

      h1 {
        font-weight: 700;
        margin-bottom: 2.5%;
      }

      address, p {
        line-height: 175%;
      }

      .medium {
        padding: 0;
        width: 100%;

        p {
          font-size: 0.75rem;
        }

        img {
          float: left;
          margin: 2.5%;
          width: 5%;
        }
      }
    }

    // Copyright
    .copyright {
      color: $white;
      clear: both;
      font: {
        size: 0.85rem;
        weight: 300;
      }
      padding: 7.5% 0 2.5%;
      text: {
        align: center;
        transform: uppercase;
      }
    }

    // Everything Else
    h1 {
      color: $white;
      text-transform: uppercase;
    }

    ul {
      margin-top: 7.5%;

      li {
        font-weight: 300;
        line-height: 125%;
        margin: 5% auto;
        text-transform: uppercase;
      }
    }

    a:link,
    a:visited {
      color: $white / 1.125;
      letter-spacing: 0.015rem;
      text-decoration: none;
      transition: color 225ms;
    }

    a:hover {
      color: lighten($darker-blue, 15%) * 1.25;
    }

    a:active {
      color: darken($darker-blue, 75%) * 1.25;
    }
  }
}

// Responsiveness
@media only screen and (max-width: 1440px) {
  // Top Bar
  .site-nav div {
    margin: auto;
    max-width: 1440px;
  }
}

@media only screen and (max-width: 964px) {
  // Top Bar
  .site-nav {
    padding: 3rem 0;

    // Escape Hatch
    .escape-hatch:link,
    .escape-hatch:visited {
      padding: 0.75rem 1.5rem;
    }

    // Pancake Button
    .pancake-button {
      background: transparent;
      display: block;
      padding: 0 5px / 964px * 100%;
      position: absolute;
      top: 5%;
      right: 5%;
      bottom: 5%;
      width: 65px / 964px * 100%;

      span {
        background-color: darken($light-blue, 25%);
        border-radius: 1rem;
        clear: both;
        display: block;
        float: left;
        height: 5px;
        margin: 10% 0;
        width: 100%;
      }
    }

    ul {
      background: $light-blue;
      display: none;
      margin: 0;
      overflow: scroll;
      padding: 15% 0;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      width: 100%;
      z-index: 2;

      li {
        padding: 0;
        text-align: center;
        margin: auto;
        width: 50%;

        a:link, a:visited {
          display: block;
          line-height: 0;
          padding: 50px 0;
          width: 100%;

          &.active {
            padding: 25px 0;
            margin: auto;
            width: 175px;
          }
        }
      }
    }
  }

  // Footer
  footer
  .latest-photos {
    img {
      margin: 10px / 693.406px * 100%;
      width: 153.3515px / 693.406px * 100%;

      // Only show six
      &:nth-of-type(1n+17) {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  // Top Bar
  .site-nav .pancake-button {
    padding: 0 5px / 600px * 100%;
    width: 65px / 600px * 100%;
  }

  // Text Sections
  .text-section {
    h1 {
      font-size: 1.75rem;
      line-height: 135%;
      margin: {
        left: auto;
        right: auto;
      }
      width: 90%;
    }

    p,
    blockquote,
    cite {
      width: 82.5%;
    }

    blockquote {
      width: 100%;
    }
  }

  // Announcements
  .announcement {
    border-width: 0.5rem;
    margin: 7.5% 0;

    h1 {
      font-size: 1.25rem;
      width: 50%;
    }

    button {
      padding: 0 1.5rem;
      top: 32.5%;
      right: 5%;
      bottom: 32.5%;
    }
  }

  // Footer
  footer {
    .contact-and-social {
      border-width: 0.5rem;
      margin-bottom: 7.5%;
      padding: 1.75rem 1.5rem;

      .left, .right {
        border: 0;
        width: 100%;
      }

      .left input {
        font-size: 1.15rem;
        top: 0;
        bottom: 0;
        right: 0;
        width: 72.5%;
      }

      .right {
        margin-top: 7.5%;
      }

      img {
        width: 15%;
      }
    }

    .latest-photos {
      img {
        margin: 10px / 393.8px * 100%;
        width: 176.906px / 393.8px * 100%;

        // Only show six
        &:nth-of-type(1n+7) {
          display: none;
        }
      }
    }

    .end {
      border-width: 0.4rem;

      div {
        margin: 3.5% 0;
        width: 100%;
      }

      .copyright {
        line-height: 175%;
        margin-bottom: 5%;
      }
    }
  }
}

// Fonts
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto-regular.eot");
  src: url("/fonts/roboto-regular.eot?#iefix") format("embedded-opentype"),
       url("/fonts/roboto-regular.woff2") format("woff2"),
       url("/fonts/roboto-regular.woff") format("woff"),
       url("/fonts/roboto-regular.ttf") format("truetype"),
       url("/fonts/roboto-regular.svg#robotoregular") format("svg");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto-bold.eot");
  src: url("/fonts/roboto-bold.eot?#iefix") format("embedded-opentype"),
       url("/fonts/roboto-bold.woff2") format("woff2"),
       url("/fonts/roboto-bold.woff") format("woff"),
       url("/fonts/roboto-bold.ttf") format("truetype"),
       url("/fonts/roboto-bold.svg#robotobold") format("svg");
  font-weight: 800;
}
