/**
 * settings.scss
 *
 * Alexander Rhett Crammer
 * Wednesday, 13 April, 2016
 */

// Global Variables
$orange: #E65100;
$red: #EF5350;
$white: #f4f4f4;
$black: #2f2f2f;
$yellow: #FFB74D;
$purple: #873780;
$light-blue: #5BCCE6;
$nav-link-color: #246D90;
