/**
 * settings.scss
 *
 * Alexander Rhett Crammer
 * Wednesday, 13 April, 2016
 */

// Global Variables
$orange: #E65100;
$red: #EF5350;
$white: #f4f4f4;
$black: #2f2f2f;
$yellow: #FFB74D;
$purple: #873780;
$light-blue: #5BCCE6;
$darker-blue: #0072b9;
$nav-link-color: #246D90;

// Secondary Navigation Bar
$donate-bar-color: #ccedf6;
$donate-button-color: $purple;
$page-title-background-color: #246d90;
$secondary-nav-height: 45px;
