doctype html
html
  head
    title= title
    
    //- Metadata
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    
    //- Links
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    block extra_styles
    
    //- Scripts
    script(src="/vendor/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="/vendor/flexnav/js/jquery.flexnav.min.js")
    block extra_scripts
    
  body(ontouchstart)
    nav(class="site-nav")
      div
        a(class="escape-hatch", href="/")
          img(src="/icons/ugly-logo.png")
        ul
          li
            a(href="/") Home
          li(class="dropbtn")
            a(href="/about", class="drop") About
            ul(class="dropdown-content")
             li
               h1 Testimonials
               p What are people saying about us?
             li
               h1 Donate to Change
               p Fund programs that help youth build a future.
             li
               h1 Become a Partner
               p Help us make a difference in the lives of todays' youth
             li
               h1 Volunteer
               p Lend them your time.
          li
            a(href="#") Programs
          li
            a(href="#") Health & Wellness
          li
            a(href="#") Donations
          li
            a(href="#") Events
          //- li
          //-   a
          //-     img(src="/icons/magnifying-glass.png", width="100")
    block content
    block last_scripts

  footer
    section(class="contact-and-social")
      div(class="left")
        img(src="/icons/mail.png", alt="Mail Icon")
        form(action="/api/enable-newsletter/", method="POST")
          input(type="email", placeholder="Get Email Updates")
      div(class="right")
        a(href="#")
          img(src="/icons/twitter.png", alt="Twitter Icon")
        a(href="#")
          img(src="/icons/facebook.png", alt="Facebook Icon")
        a(href="#")
          img(src="/icons/instagram.png", alt="Instagram Icon")
    section(class="latest-photos text-section")
      h1 Latest Photos
      - for (var i=0; i<18; i++){
        img(src="http://lorempixel.com/g/500/500/sports")
      - }
    section(class="end")
      div
        h1 About Us
        ul
          li
            a(href="#") Mission & Vision
          li
            a(href="#") Partners
          li
            a(href="#") Team
          li
            a(href="#") History
          li
            a(href="#") Impact
          li
            a(href="#") FAQs
      div
        h1 Our Work
        ul
          li
            a(href="#") Where we Work
          li
            a(href="#") Advocates for Change
          li
            a(href="#") Programs
          li
            a(href="#") Health & Wellness
      div
        h1 How You Can Help
        ul
          li
            a(href="#") Volunteer
          li
            a(href="#") Donate
          li
            a(href="#") Ways to Give
          li
            a(href="#") Become a Partner
      div(class="contact-information")
        h1 Contact Us
        address Prep Stars of America
          br
          | Oakland, California 94601
        div(class="medium")
          img(src="/icons/email.png", alt="Email Icon")
          p hello@prep-stars.com
        div(class="medium")
          img(src="/icons/phone.png", alt="Phone Icon")
          p +1 (212) 555 - 5555
        div(class="medium")
          img(src="/icons/paper-plane.png", alt="Fax Icon")
          p +1 (212) 555 - 5556
      p(class="copyright") &copy 2016 Prep Stars of America | All Rights Reserved | Privacy Policy | Terms of Use
