doctype html
html
  head
    title Prep Stars of America#{(typeof title == "undefined") ? "" : " » " + title}
    
    //- Metadata
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    
    //- Stylesheets
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    block extra_styles
    
    //- Other Links
    link(rel='icon', href='/icons/favicon.png')
    
    //- Scripts
    script(src="/vendor/jquery/dist/jquery.min.js")
    block extra_scripts
    
  body(ontouchstart)
    nav(class="site-nav")
        a(class="escape-hatch", href="/")
        ul
          li
            a(href="/", class=(section == 'home') ? 'active' : '') Home
          li(class="dropbtn")
            a(href="/about", class="drop", class=(section == 'about') ? 'active' : '') About
            ul(class="dropdown-content")
             li
               h1 Testimonials
               p What are people saying about us?
             li
               h1 Donate to Change
               p Fund programs that help youth build a future.
             li
               h1 Become a Partner
               p Help us make a difference in the lives of todays' youth
             li
               h1 Volunteer
               p Lend them your time.
          li
            a(href="/programs", class=(section == 'programs') ? 'active' : '') Programs
          li
            a(href="#") Health & Wellness
          li
            a(href="/donate", class=(section == 'donate') ? 'active' : '') Donations
          li
            a(href="#") Events
          //- li
          //-   a
          //-     img(src="/icons/magnifying-glass.png", width="100")
        button(class="pancake-button")
          span
          span
          span
    block content

  footer
    unless section == "about"
      section(class="contact-and-social")
        div(class="left")
          img(src="/icons/mail.png", alt="Mail Icon")
          input(type="email", name="email_address", form="newsletter-form", placeholder="Get Email Updates")
        div(class="right")
          //- a(href="#")
          //-   img(src="/icons/twitter.png", alt="Twitter Icon")
          a(href="https://m.facebook.com/PrepStarsofAmerica/")
            img(src="/icons/facebook.png", alt="Facebook Icon")
          a(href="https://www.instagram.com/playjrnba/")
            img(src="/icons/instagram.png", alt="Instagram Icon")
      section(class="latest-photos text-section")
        h1 Latest Photos
        - for (var i=0; i<18; i++) {
            img(src="/images/random_photos_from_social_sites/one-one/" + one_one_filenames[Math.floor(Math.random() * one_one_filenames.length)])
        - }
    section(class="end")
      div
        h1 About Us
        ul
          //- li
          //-   a(href="#") Mission & Vision
          li
            a(href="/about") Partners
          //- li
          //-   a(href="#") Team
          //- li
          //-   a(href="#") History
          //- li
          //-   a(href="#") Impact
          //- li
          //-   a(href="#") FAQs
          li 
            a(href="/testimonials") Testimonials
          li
            a(href="/about") About
          li 
            a(href="/donate") Donations
      div
        h1 Our Work
        ul
          //- li
          //-   a(href="#") Where we Work
          //- li
          //-   a(href="#") Advocates for Change
          li
            a(href="/testimonials") Testimonials
          li
            a(href="/programs") Programs
          //- li
          //-   a(href="#") Health & Wellness
      div
        h1 How You Can Help
        ul
          li
            a(href="#") Volunteer (Coming Soon)
          li
            a(href="/donate") Donate
          //- li
          //-   a(href="#") Ways to Give
          li
            a(href="/programs") Become a Partner
      div(class="contact-information")
        h1 Contact Us
        address Prep Stars of America
          br
          | Oakland, California 94601
        div(class="medium")
          img(src="/icons/email.png", alt="Email Icon")
          p hello@prep-stars.com
        div(class="medium")
          img(src="/icons/phone.png", alt="Phone Icon")
          p +1 (424) 292 - 1782
        div(class="medium")
          img(src="/icons/paper-plane.png", alt="Fax Icon")
          p +1 (424) 292 - 1782
      p(class="copyright") &copy 2016 Prep Stars of America | All Rights Reserved | Privacy Policy | Terms of Use

  
//- Scripts
block last_scripts
script(src="/scripts/main.js")  
