doctype html
html
  head
    title= title
    
    //- Links
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    block extra_styles
    
    //- Scripts
    script(src="/vendor/jquery/dist/jquery.min.js")
    block extra_scripts
    
  body
    nav(class="site-nav")
      a(class="escape-hatch", href="/")
        img(src="/icons/logo.png")
      ul
        li
          a(href="#") Home
        li(class="dropbtn")
          a(href="#",class="drop") About
          //- ul(class="dropdown-content")
          //-   li
          //-     h1 Testimonials
          //-     p What are people saying about us?
          //-   li
          //-     h1 Donate to Change
          //-     p Fund programs that help youth build a future.
          //-   li
          //-     h1 Become a Partner
          //-     p Help us make a difference in the lives of todays' youth
          //-   li
          //-     h1 Volunteer
          //-     p Lend them your time.
        li
          a(href="#") Programs
        li
          a(href="#") Health & Wellness
        li
          a(href="#") Donations
        li
          a(href="#") Events
        //- li
        //-   a
        //-     img(src="/icons/magnifying-glass.png", width="100")
    block content
    block last_scripts
