doctype html
html
  head
    title= title
    
    //- Links
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    block extra_styles
    
    //- Scripts
    script(src="/vendor/jquery/dist/jquery.min.js")
    block extra_scripts
    
  body
    block content
    block last_scripts
