extends layout

block content
  nav
    ul
      li
        p Home
      li
        p About
        ul
          li
            h1 Testimonials
            p What are people saying about us?
          li
            h1 Donate to Change
            p Help fund programs that help youth build a future.
          li
            h1 Become a Partner
            p Help us make a difference in the lives of todays' youth
          li
            h1 Volunteer
            p Lend them your time.
      li
        p Programs
      li
        p Health & Wellness
      li
        p Donations
      li
        p Events
      li
        p
          img(src="/icons/magnifying-glass.png")
