doctype html
html
  head
    title= title
    
    //- Links
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    block extra_styles
    
    //- Scripts
    script(src="//code.jquery.com/jquery-2.1.4.min.js")
    
  body
    block content
    block last_scripts
