/**
 * about.scss
 *
 * Alexander Rhett Crammer
 * Wednesday, 13 April, 2015
 */
/**
 * settings.scss
 *
 * Alexander Rhett Crammer
 * Wednesday, 13 April, 2016
 */
main, aside {
  margin-top: 8.5rem; }

main {
  float: left;
  width: 75%; }

aside {
  float: left;
  padding: 2.5%;
  text-align: center;
  width: 20%; }
  aside h1 {
    font-size: 1.35rem;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    letter-spacing: 0.065rem;
    text-transform: uppercase; }
  aside p {
    font-weight: 300;
    line-height: 135%;
    margin-bottom: 10%;
    text-align: left; }
  aside img {
    border-radius: 0.25rem;
    margin: 7.5% auto;
    width: 100%; }

.links-and-donation-button {
  background-color: #ccedf6;
  height: 45px;
  overflow: visible;
  text-align: right; }
  .links-and-donation-button nav {
    text-align: left;
    width: 100%; }
    .links-and-donation-button nav li {
      display: inline-block;
      margin: auto 0.5rem;
      line-height: 45px; }
  .links-and-donation-button a:link,
  .links-and-donation-button a:visited {
    color: #246d90;
    text-decoration: none;
    transition: all 175ms; }
  .links-and-donation-button a:hover {
    color: #5dafd7; }
  .links-and-donation-button a:active {
    color: #0b202a; }

.donate-button {
  background-color: #873780;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-right: solid 0.2rem #6c2c66;
  border-bottom: solid 0.2rem #6c2c66;
  border-left: solid 0.2rem #6c2c66;
  color: white;
  float: right;
  margin-right: 5%; }
  .donate-button:hover {
    background-color: #c776c0; }
  .donate-button:active {
    background-color: #3f193b;
    color: #818181; }

.title {
  background-color: #246d90;
  border-top: 0.25rem solid #1c5671;
  border-bottom: 0.25rem solid #1c5671; }
  .title h1 {
    color: #d7ebf5;
    font-size: 4rem;
    padding: 2rem 5rem;
    text-transform: uppercase; }

.site-description {
  margin: 5% auto;
  width: 80%; }
  .site-description h1 {
    color: #2f2f2f;
    font-size: 1.75rem;
    font-weight: 300;
    margin: 2.5% auto;
    text-transform: uppercase; }
  .site-description img {
    border-radius: 0.25rem;
    margin: 3.5% auto;
    width: 100%; }
  .site-description p {
    font-weight: 300;
    line-height: 150%;
    margin: 3.5% auto; }
  .site-description hr {
    border-style: solid;
    color: #5a5957;
    margin: 7.5% 1.5%; }

.ctas {
  clear: both;
  margin-bottom: 5%;
  overflow: auto; }
  .ctas .cta {
    background-color: #2196f3;
    border-radius: 0.35rem;
    color: #ccedf6;
    float: left;
    margin: 2.44141%;
    padding: 1.95312%;
    text-align: center;
    width: 24.54427%; }
    .ctas .cta h1 {
      font-size: 1.35rem;
      margin-top: 1.5%;
      margin-bottom: 1.5%;
      letter-spacing: 0.065rem;
      text-transform: uppercase;
      margin-bottom: 5%; }
    .ctas .cta p {
      font-size: 0.9rem;
      font-weight: 300;
      letter-spacing: 0.05rem;
      line-height: 135%;
      text-align: left; }
    .ctas .cta img {
      margin: 7.5% auto 2.5%;
      width: 40%; }
