/**
 * index.scss
 *
 * Alexander Rhett Crammer
 * Sunday, 10 April, 2016
 */
nav.site-nav {
  background-color: #5BCCE6;
  height: 100px;
  overflow: auto; }
  nav.site-nav .escape-hatch {
    display: block;
    float: left;
    padding: 12.5px;
    text-align: center;
    width: 7.32422%; }
    nav.site-nav .escape-hatch img {
      max-width: 75px;
      max-height: 75px; }
  nav.site-nav .dropdown {
    position: relative;
    display: inline-block; }
  nav.site-nav .dropbtn:hover {
    background: #246D90;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 15px 5px 15px 5px;
    font-style: normal; }
  nav.site-nav .drop:hover {
    color: #7cbede;
    font-style: normal; }
  nav.site-nav ul.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }
  nav.site-nav ul.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
  nav.site-nav ul.dropdown-content a:hover {
    background-color: #f1f1f1; }
  nav.site-nav ul.dropdown:hover .dropdown-content {
    display: block; }
  nav.site-nav ul.dropdown:hover .dropbtn {
    background-color: #3e8e41; }
  nav.site-nav a {
    text-decoration: none;
    text-transform: uppercase;
    transition: all 225ms; }
    nav.site-nav a:link, nav.site-nav a:visited {
      color: #246D90; }
    nav.site-nav a:hover {
      font-style: italic; }
    nav.site-nav a:active {
      color: #0b202a; }
  nav.site-nav > ul {
    float: right;
    height: 100px;
    text-align: right;
    width: 90.23438%; }
    nav.site-nav > ul > li {
      display: inline;
      line-height: 100px; }
      nav.site-nav > ul > li:last-of-type {
        margin-right: 5%; }
      nav.site-nav > ul > li a {
        padding: 0 1.25%; }
        nav.site-nav > ul > li a img {
          width: 25px;
          vertical-align: middle; }

.announcement {
  background-color: #FFB74D;
  color: #E65100;
  font-weight: 500;
  overflow: auto;
  position: relative; }
  .announcement h1 {
    float: left;
    font-size: 1.55rem;
    padding: 2.5rem;
    padding-right: 0;
    text-transform: uppercase;
    width: 50%; }
  .announcement button {
    background-color: #E65100;
    color: #FFB74D;
    border: 0;
    float: right;
    font-size: 1rem;
    padding: 0 3%;
    position: absolute;
    top: 25%;
    right: 5%;
    bottom: 25%;
    text-transform: uppercase; }

.slideshow {
  background-color: #333; }

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  z-index: 1; }
  .slick-prev::before,
  .slick-next::before {
    background-color: #FFCD2D;
    padding: 15px; }

.slick-prev {
  left: 0; }

.slick-next {
  width: inherit; }

.slick-slide img {
  width: 100%; }

.slick-slider {
  margin-bottom: 0; }

.slick-dots {
  bottom: 2.5%; }
  .slick-dots li {
    margin: 0 2.5px; }
    .slick-dots li button::before {
      color: #FFCD2D;
      font-size: 1rem;
      opacity: 0.75; }
    .slick-dots li.slick-active button::before {
      color: #ad8300;
      opacity: 1; }

.tiny-ctas {
  background-color: #873780;
  padding: 1.4705882353%  6.862745098%;
  overflow: auto; }
  .tiny-ctas ul.events {
    position: relative;
    margin-top: 25px;
    display: inline-block; }
  .tiny-ctas div {
    background-color: #722E6B;
    border-radius: 5px;
    color: #E1BEE7;
    float: left;
    margin: 0.98039%;
    padding: 1rem;
    text-align: center;
    width: 19.41176%;
    min-height: 210px;
    max-height: 100%; }
    .tiny-ctas div h1 {
      font-size: 1.35rem;
      letter-spacing: 0.035rem;
      text-transform: uppercase; }
    .tiny-ctas div p {
      font-size: 0.8rem;
      padding: 0.75rem 0;
      line-height: 150%;
      letter-spacing: 0.05rem;
      text-align: left; }
    .tiny-ctas div input[type="text"] {
      background-color: #E1BEE7;
      border: 0;
      color: #5d2667;
      height: 3rem;
      font-family: "Roboto";
      font-size: 0.95rem;
      font-weight: bold;
      margin-top: 7.5%;
      text-indent: 0.75rem;
      width: 100%; }
      .tiny-ctas div input[type="text"]::-webkit-input-placeholder, .tiny-ctas div input[type="text"]:-moz-placeholder, .tiny-ctas div input[type="text"]::-moz-placeholder, .tiny-ctas div input[type="text"]::-ms-input-placeholder {
        color: #763083; }
    .tiny-ctas div button, .tiny-ctas div input[type="submit"] {
      background-color: #E1BEE7;
      border: 0;
      border-radius: 0.125rem;
      color: #9F719E;
      font-family: "Roboto";
      font-size: 0.9rem;
      font-weight: bold;
      outline: none;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      text-transform: uppercase;
      width: 100%; }
      .tiny-ctas div button:hover, .tiny-ctas div input[type="submit"]:hover {
        background-color: #f6edf8; }
      .tiny-ctas div button:active, .tiny-ctas div input[type="submit"]:active {
        background-color: #3b1841;
        color: #754f74; }
    .tiny-ctas div input[type="submit"] {
      margin-top: 7.5%; }

.programs {
  background-color: #5BCCE6; }

footer .announcement {
  background-color: #5BCCE6;
  min-height: 50px;
  max-height: 100%;
  color: #246D90; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

footer .contact {
  background-color: #873780; }

footer .end {
  background-color: #43A047; }
