/**
 * main.scss
 *
 * Alexander Rhett Crammer
 * Monday, 11 April, 2016
 */
body {
  background-color: #F3F3ED;
  color: #5A5957;
  font-family: "Roboto";
  font-weight: 700; }

.text-section {
  font-weight: 500;
  margin: 3.5rem auto; }
  .text-section h1 {
    font-size: 2rem;
    letter-spacing: 0.025rem;
    margin: 3.5% 0 2.5%;
    text-align: center;
    text-transform: uppercase; }
  .text-section p,
  .text-section blockquote,
  .text-section cite {
    line-height: 175%;
    margin: 1rem auto;
    max-width: 700px;
    width: 80%; }
  .text-section cite {
    display: block;
    font-weight: bold;
    text-align: right;
    position: relative;
    right: 1rem; }

button, input[type="submit"] {
  cursor: pointer;
  transition: all 225ms; }

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto-regular.eot");
  src: url("/fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto-regular.woff2") format("woff2"), url("/fonts/roboto-regular.woff") format("woff"), url("/fonts/roboto-regular.ttf") format("truetype"), url("/fonts/roboto-regular.svg#robotoregular") format("svg");
  font-weight: 500; }

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto-bold.eot");
  src: url("/fonts/roboto-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto-bold.woff2") format("woff2"), url("/fonts/roboto-bold.woff") format("woff"), url("/fonts/roboto-bold.ttf") format("truetype"), url("/fonts/roboto-bold.svg#robotobold") format("svg");
  font-weight: 800; }
