/**
 * main.scss
 *
 * Alexander Rhett Crammer
 * Monday, 11 April, 2016
 */
/**
 * settings.scss
 *
 * Alexander Rhett Crammer
 * Wednesday, 13 April, 2016
 */
body {
  background-color: #F3F3ED;
  color: #5A5957;
  font-family: "Roboto";
  font-weight: 700; }

.text-section {
  font-weight: 500;
  margin: 3.5rem auto; }
  .text-section h1 {
    font-size: 2rem;
    letter-spacing: 0.025rem;
    margin: 3.5% 0 2.5%;
    text-align: center;
    text-transform: uppercase; }
  .text-section p,
  .text-section blockquote,
  .text-section cite {
    line-height: 175%;
    margin: 1rem auto;
    max-width: 700px;
    width: 80%; }
  .text-section cite {
    display: block;
    font-weight: bold;
    text-align: right;
    position: relative;
    right: 1rem; }

.normal-weight {
  font-weight: 500; }

.site-nav {
  background-color: #5BCCE6;
  overflow: auto; }
  .site-nav nav.site-nav ul li {
    display: block;
    float: left;
    list-style: none; }
  .site-nav li > li:hover {
    background: #246D90;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    font-style: normal; }
  .site-nav li:hover {
    color: #5BCCE6;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    -webkit-bottom-left-radius: 0;
    -webkit-border-radius: 5px;
    font-style: normal; }
  .site-nav li.dropbtn ul.dropdown-content {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    background-color: #246D90;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
    column-count: 2;
    column-gap: 10px;
    display: none;
    float: none;
    padding: 15px;
    position: absolute;
    top: 3.6em;
    text-align: left;
    width: 400px;
    z-index: 1;
    margin: 15px -75px; }
    .site-nav li.dropbtn ul.dropdown-content a:link,
    .site-nav li.dropbtn ul.dropdown-content a:visited {
      color: #5BCCE6;
      display: block;
      padding: 12px 16px;
      text-decoration: none; }
    .site-nav li.dropbtn ul.dropdown-content a:hover {
      background-color: #246D90; }
  .site-nav ul.dropdown-content li p {
    line-height: 1.2em;
    padding: 0;
    margin: 10px;
    font-weight: normal;
    font-size: .8em;
    color: #5BCCE6; }
  .site-nav ul.dropdown-content h1 {
    color: #5BCCE6;
    line-height: 1em;
    text-transform: capitalize;
    font-size: 1.4em; }
  .site-nav li.dropbtn:hover ul.dropdown-content {
    background-color: #246D90;
    display: inline;
    float: left; }
  .site-nav a:link,
  .site-nav a:visited {
    color: #246D90;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 225ms; }
  .site-nav a:hover {
    color: #c5ffff; }
  .site-nav a:active {
    color: black; }
  .site-nav .escape-hatch {
    display: block;
    float: left;
    padding: 1.2207%;
    text-align: center;
    width: 7.32422%; }
    .site-nav .escape-hatch img {
      max-width: 75px;
      max-height: 75px; }
  .site-nav ul {
    float: right;
    text-align: right;
    width: 90.23438%; }
    .site-nav ul li {
      display: inline;
      line-height: 100px; }
      .site-nav ul li:last-of-type {
        margin-right: 5%; }
      .site-nav ul li a {
        padding: 0 1.25%; }
        .site-nav ul li a img {
          width: 25px;
          vertical-align: middle; }

.announcement, .announcement-blue {
  background-color: #FFB74D;
  border-top: 5px solid #ffb03b;
  border-bottom: 5px solid #ffb03b;
  color: #E65100;
  font-weight: 500;
  overflow: auto;
  position: relative; }
  .announcement h1, .announcement-blue h1 {
    float: left;
    font-size: 1.35rem;
    padding: 2.5rem;
    padding-right: 0;
    text-transform: uppercase;
    width: 75%; }
  .announcement button, .announcement-blue button {
    background-color: #E65100;
    color: #FFB74D;
    border: 0;
    float: right;
    font-size: 1rem;
    padding: 0 3%;
    position: absolute;
    top: 25%;
    right: 5%;
    bottom: 25%;
    text-transform: uppercase; }
    .announcement button:hover, .announcement-blue button:hover {
      background-color: #ff6b1a; }
    .announcement button:active, .announcement-blue button:active {
      background-color: #672400;
      color: #cd7a00; }

.announcement-blue {
  background-color: #5BCCE6;
  border-top: 5px solid #4cc7e4;
  border-bottom: 5px solid #4cc7e4;
  color: #13687c; }
  .announcement-blue button {
    background-color: #13687c;
    color: #5BCCE6; }
    .announcement-blue button:hover {
      background-color: #d5f2f9; }
    .announcement-blue button:active {
      background-color: #093039;
      color: #18849d; }

button {
  border: 0;
  color: #efefef;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  outline: none;
  padding: 0.75rem 2rem;
  text-transform: uppercase; }

button,
input[type="text"],
input[type="email"],
input[type="submit"] {
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 225ms; }

footer .contact-and-social {
  background-color: #873780;
  border-top: 5px solid #7a3274;
  border-bottom: 5px solid #7a3274;
  overflow: auto;
  padding: 1.75rem 3rem; }
  footer .contact-and-social img {
    max-width: 65px;
    width: 12.5%; }
  footer .contact-and-social .left, footer .contact-and-social .right {
    float: left;
    position: relative;
    width: 49.80469%; }
  footer .contact-and-social .left {
    border-right: 1px solid #51214c; }
    footer .contact-and-social .left img {
      margin-left: 2.5%; }
    footer .contact-and-social .left input {
      background-color: #63285e;
      border: 0;
      color: #d69ad1;
      font-family: "Roboto", sans-serif;
      font-size: 0.85rem;
      letter-spacing: 0.025rem;
      margin-left: 7.5%;
      position: absolute;
      text-align: center;
      top: 10%;
      right: 10%;
      bottom: 10%;
      width: 65%; }
      footer .contact-and-social .left input::-webkit-input-placeholder {
        color: #873780; }
      footer .contact-and-social .left input:-moz-placeholder {
        color: #873780; }
      footer .contact-and-social .left input::-moz-placeholder {
        color: #873780; }
      footer .contact-and-social .left input::-ms-input-placeholder {
        color: #873780; }
  footer .contact-and-social .right {
    border-left: 1px solid #51214c;
    text-align: center; }
    footer .contact-and-social .right a {
      margin: 0 3.5%; }

footer .latest-photos {
  margin: 0 2.44141%;
  margin-bottom: 2.5%; }
  footer .latest-photos a {
    display: block; }
  footer .latest-photos img {
    border-radius: 0.225rem;
    margin: 0.97656%;
    width: 14.71354%; }

footer .end {
  background-color: #5BCCE6;
  border-top: 0.35rem solid #2fbedf;
  overflow: auto;
  padding: 2.5rem 3.5rem;
  padding-bottom: 0; }
  footer .end div {
    float: left;
    padding: 0.48828%;
    margin: 0.48828%;
    width: 23.04688%; }
  footer .end form {
    width: 159.8px; }
    footer .end form input,
    footer .end form textarea {
      background-color: #246d90;
      border: 0;
      border-radius: 0.15rem;
      color: #caeef7;
      font-family: "Roboto", sans-serif;
      font-size: 0.85rem;
      font-weight: 300;
      margin: 2.5% auto;
      padding: 15px;
      resize: none;
      width: 129.8px; }
      footer .end form input::-webkit-input-placeholder,
      footer .end form textarea::-webkit-input-placeholder {
        color: #5BCCE6;
        letter-spacing: 0.035rem;
        text-transform: uppercase; }
      footer .end form input:-moz-placeholder,
      footer .end form textarea:-moz-placeholder {
        color: #5BCCE6;
        letter-spacing: 0.035rem;
        text-transform: uppercase; }
      footer .end form input::-moz-placeholder,
      footer .end form textarea::-moz-placeholder {
        color: #5BCCE6;
        letter-spacing: 0.035rem;
        text-transform: uppercase; }
      footer .end form input::-ms-input-placeholder,
      footer .end form textarea::-ms-input-placeholder {
        color: #5BCCE6;
        letter-spacing: 0.035rem;
        text-transform: uppercase; }
    footer .end form input[type="submit"] {
      color: #5BCCE6;
      letter-spacing: 0.075rem;
      padding: 6.5%;
      text-transform: uppercase;
      text-indent: 0;
      width: 100%; }
      footer .end form input[type="submit"]:hover {
        background-color: #d5f2f9; }
      footer .end form input[type="submit"]:active {
        background-color: #093039;
        color: #13687c; }
  footer .end .contact-information {
    color: #13687c;
    font-weight: 300;
    text-transform: uppercase; }
    footer .end .contact-information h1 {
      font-weight: 700;
      margin-bottom: 2.5%; }
    footer .end .contact-information address, footer .end .contact-information p {
      line-height: 175%; }
    footer .end .contact-information .medium {
      padding: 0;
      width: 100%; }
      footer .end .contact-information .medium p {
        font-size: 0.75rem; }
      footer .end .contact-information .medium img {
        float: left;
        margin: 1.5%;
        width: 12.5%; }
  footer .end .copyright {
    color: #13687c;
    clear: both;
    font-size: 0.85rem;
    font-weight: 300;
    padding: 7.5% 0 2.5%;
    text-align: center;
    text-transform: uppercase; }
  footer .end h1 {
    color: #13687c;
    text-transform: uppercase; }
  footer .end ul {
    margin-top: 7.5%; }
    footer .end ul li {
      font-weight: 300;
      line-height: 125%;
      margin: 5% auto;
      text-transform: uppercase; }
  footer .end a:link,
  footer .end a:visited {
    color: #13687c;
    letter-spacing: 0.015rem;
    text-decoration: none;
    transition: all 125ms; }
  footer .end a:hover {
    color: #c5ffff; }
  footer .end a:active {
    color: black; }

@media only screen and (max-width: 1440px) {
  .site-nav div {
    margin: auto;
    max-width: 1440px; } }

@media only screen and (max-width: 964px) {
  .site-nav ul {
    display: none; } }

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto-regular.eot");
  src: url("/fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto-regular.woff2") format("woff2"), url("/fonts/roboto-regular.woff") format("woff"), url("/fonts/roboto-regular.ttf") format("truetype"), url("/fonts/roboto-regular.svg#robotoregular") format("svg");
  font-weight: 500; }

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto-bold.eot");
  src: url("/fonts/roboto-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto-bold.woff2") format("woff2"), url("/fonts/roboto-bold.woff") format("woff"), url("/fonts/roboto-bold.ttf") format("truetype"), url("/fonts/roboto-bold.svg#robotobold") format("svg");
  font-weight: 800; }
