/**
 * index.scss
 *
 * Alexander Rhett Crammer
 * Sunday, 10 April, 2016
 */
nav.site-nav {
  background-color: #f67c01;
  height: 100px;
  overflow: auto; }
  nav.site-nav .escape-hatch {
    display: block;
    float: left;
    padding: 12.5px;
    text-align: center;
    width: 7.32422%; }
    nav.site-nav .escape-hatch img {
      max-width: 75px;
      max-height: 75px; }
  nav.site-nav .dropdown {
    display: none; }
  nav.site-nav a {
    text-decoration: none;
    text-transform: uppercase;
    transition: all 225ms; }
    nav.site-nav a:link, nav.site-nav a:visited {
      color: #E65100; }
    nav.site-nav a:hover {
      color: #ffb58d; }
    nav.site-nav a:active {
      color: #672400; }
  nav.site-nav > ul {
    float: right;
    height: 100px;
    text-align: right;
    width: 90.23438%; }
    nav.site-nav > ul > li {
      display: inline;
      line-height: 100px; }
      nav.site-nav > ul > li:last-of-type {
        margin-right: 5%; }
      nav.site-nav > ul > li a {
        padding: 0 1.25%; }
        nav.site-nav > ul > li a img {
          width: 25px;
          vertical-align: middle; }

.slideshow {
  background-color: #333; }

.tiny-ctas {
  background-color: #873780; }
  .tiny-ctas div {
    background-color: #5D2556; }

.programs {
  background-color: #5BCCE6; }

footer .contact {
  background-color: #E53A35; }

footer .end {
  background-color: #43A047; }
